<a href="https://colab.research.google.com/github/eildes06/pandasss/blob/main/100pandasexercisesmediumpart.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [3]:
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake' , 'cat', 'dog', 'dog'],
                    'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
                    'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
                    'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [4]:
df = pd.DataFrame(data, index=labels)

In [6]:
df = pd.DataFrame({'A': [1, 2, 2, 3, 4, 5, 5, 5, 6, 7, 7]})
df

    A
0   1
1   2
2   2
3   3
4   4
5   5
6   5
7   5
8   6
9   7
10  7

In [7]:
df.loc[df['A'].shift()!=df["A"]]

   A
0  1
1  2
3  3
4  4
5  5
8  6
9  7

In [8]:
df.drop_duplicates(subset="A")

   A
0  1
1  2
3  3
4  4
5  5
8  6
9  7

In [10]:
df=pd.DataFrame(np.random.random(size=(5,3)))
df.sub(df.mean(axis=1),axis=0)

          0         1         2
0 -0.212224  0.001411  0.210813
1  0.286425 -0.268144 -0.018281
2 -0.300030 -0.023377  0.323407
3 -0.184599 -0.046307  0.230907
4 -0.361865  0.466134 -0.104269

In [14]:
df=pd.DataFrame(np.random.random(size=(5,10)),columns=list("abcdefghij"))
df

,a,b,c,d,e,f,g,h,i,j
0,0.421915,0.254748,0.682253,0.376736,0.433687,0.609342,0.839478,0.967445,0.079436,0.704381
1,0.783072,0.324176,0.419304,0.054620,0.050792,0.283368,0.422598,0.054644,0.494651,0.921878
2,0.330141,0.001875,0.970036,0.857344,0.689977,0.860933,0.718769,0.784777,0.999708,0.737250
3,0.088646,0.997400,0.865661,0.006477,0.332459,0.356124,0.240521,0.335321,0.807876,0.645104
4,0.013034,0.715204,0.585461,0.039630,0.931037,0.373867,0.631585,0.234049,0.962858,0.399517

In [16]:
df=pd.DataFrame(np.random.random(size=(5,10)),columns=list("abcdefghij"))
df.sum().idxmin()

'g'

In [18]:
df = pd.DataFrame(np.random.randint(0, 2, size=(10, 3))) 
len(df) - df.duplicated(keep=False).sum()

6

In [19]:
len(df.drop_duplicates(keep=False))

6

In [20]:
nan = np.nan
data = [[0.04, nan, nan, 0.25, nan, 0.43, 0.71, 0.51, nan, nan],
        [ nan, nan, nan, 0.04, 0.76, nan, nan, 0.67, 0.76, 0.16], 
        [ nan, nan, 0.5 , nan, 0.31, 0.4 , nan, nan, 0.24, 0.01], 
        [0.49, nan, nan, 0.62, 0.73, 0.26, 0.85, nan, nan, nan], 
        [ nan, nan, 0.41, nan, 0.05, nan, 0.61, nan, 0.48, 0.68]]
columns = list('abcdefghij')

In [21]:
df=pd.DataFrame(data,columns=columns)
(df.isnull().cumsum(axis=1)==3).idxmax(axis=1)

0    e
1    c
2    d
3    h
4    d
dtype: object

In [22]:
df = pd.DataFrame({'grps': list('aaabbcaabcccbbc'),
'vals': [12,345,3,1,45,14,4,52,54,23,235,21,57,3,87]})

In [23]:
df.groupby("grps")["vals"].nlargest(3).sum(level=0)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.sum(level=1) should use df.groupby(level=1).sum().
  """Entry point for launching an IPython kernel.

grps
a    409
b    156
c    345
Name: vals, dtype: int64

In [24]:
df = pd.DataFrame(np.random.RandomState(8765).randint(1, 101, size=(100, 2)), 
df.groupby(pd.cut(df['A'], np.arange(0, 101, 10)))['B'].sum()

SyntaxError: ignored