<a href="https://colab.research.google.com/github/eildes06/pandasss/blob/main/DAwPy_S4_(Pandas_DataFrames%2C_Selection_and_Indexing)_empty_(4).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" alt="CLRSWY"></p>

___

<h1><p style="text-align: center;">Pandas Lesson, Session - 4</p><h1>

# Data Frames

 - ### ``DataFrames`` are the workhorse of pandas and are directly inspired by the R programming language. We can think of a DataFrame as a bunch of Series objects put together to share the same index. Let's use pandas to explore this topic!

In [ ]:
import numpy as np
import pandas as pd

 ## Creating a DataFrame using the ``list``s of data and columns

pd.DataFrame(data=None, index=None, columns=None, dtype=None, copy=False)

Two-dimensional, size-mutable, potentially heterogeneous tabular data.

In [ ]:
data = [1, 3, 5, 7, 9, 18]
data

[1, 3, 5, 7, 9, 18]

In [ ]:
pd.DataFrame(data = data)

    0
0   1
1   3
2   5
3   7
4   9
5  18

In [ ]:
pd.Series(data = data)

0     1
1     3
2     5
3     7
4     9
5    18
dtype: int64

In [ ]:
pd.DataFrame(data = data, columns=["col_1"])

   col_1
0      1
1      3
2      5
3      7
4      9
5     18

 ## Creating a DataFrame using a ``NumPy Arrays``

In [ ]:
m = np.arange(1,24,2).reshape(3,4)
m

array([[ 1,  3,  5,  7],
       [ 9, 11, 13, 15],
       [17, 19, 21, 23]])

In [ ]:
df=pd.DataFrame(data=m, columns=['var1','var2','var3','var4'])
df

   var1  var2  var3  var4
0     1     3     5     7
1     9    11    13    15
2    17    19    21    23

In [ ]:
df.head(1)

   var1  var2  var3  var4
0     1     3     5     7

In [ ]:
df.tail(1)

   var1  var2  var3  var4
2    17    19    21    23

In [ ]:
df.sample(2)

   var1  var2  var3  var4
1     9    11    13    15
0     1     3     5     7

In [ ]:
df.columns

Index(['var1', 'var2', 'var3', 'var4'], dtype='object')

In [ ]:
for i in df.columns:
    print(df[i].sum())

27
33
39
45

In [ ]:
df.columns=["new1", "new2", "new3", "new4"]
df

   new1  new2  new3  new4
0     1     3     5     7
1     9    11    13    15
2    17    19    21    23

In [ ]:
df.index=["a", "b", "c"]
df

   new1  new2  new3  new4
a     1     3     5     7
b     9    11    13    15
c    17    19    21    23

In [ ]:
df.rename(columns = {"new1": "a", "new2": "b"})

    a   b  new3  new4
a   1   3     5     7
b   9  11    13    15
c  17  19    21    23

In [ ]:
df.rename(index = {"a": 1, "b": 2})

   new1  new2  new3  new4
1     1     3     5     7
2     9    11    13    15
c    17    19    21    23

In [ ]:
df

   new1  new2  new3  new4
a     1     3     5     7
b     9    11    13    15
c    17    19    21    23

In [ ]:
df.shape

(3, 4)

In [ ]:
df.shape[1]

4

In [ ]:
df.ndim

2

In [ ]:
df.size

12

In [ ]:
len(df)

3

In [ ]:
df.values

array([[ 1,  3,  5,  7],
       [ 9, 11, 13, 15],
       [17, 19, 21, 23]])

In [ ]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
type(df.values)

numpy.ndarray

 ## Creating a DataFrame using a ``dict``

In [ ]:
s1 = np.random.randint(2,10, size = 4)
s2 = np.random.randint(3,10, size = 4)
s3 = np.random.randint(4,15, size = 4)

In [ ]:
s1

array([9, 5, 6, 7])

In [ ]:
s2

array([5, 8, 6, 8])

In [ ]:
s3

array([10,  5, 14, 11])

In [ ]:
my_dict = {"var1":s1, "var2":s2, "var3":s3}
my_dict

{'var1': array([9, 5, 6, 7]),
 'var2': array([5, 8, 6, 8]),
 'var3': array([10,  5, 14, 11])}

In [ ]:
df1 = pd.DataFrame(my_dict)
df1

   var1  var2  var3
0     9     5    10
1     5     8     5
2     6     6    14
3     7     8    11

In [ ]:
df1.index

RangeIndex(start=0, stop=4, step=1)

In [ ]:
[i for i in df1.index]

[0, 1, 2, 3]

In [ ]:
"var2" in df1

True

### Now, let's examine again the ***idexing, selection*** and ***slicing*** methods and several ***attributes*** using a different DataFrame

In [ ]:
from numpy.random import randn

In [ ]:
randn(5,4)

array([[ 0.30266545,  1.69372293, -1.70608593, -1.15911942],
       [-0.13484072,  0.39052784,  0.16690464,  0.18450186],
       [ 0.80770591,  0.07295968,  0.63878701,  0.3296463 ],
       [-0.49710402, -0.7540697 , -0.9434064 ,  0.48475165],
       [-0.11677332,  1.9017548 ,  0.23812696,  1.99665229]])

In [ ]:
'A B C D E'.split()

['A', 'B', 'C', 'D', 'E']

In [ ]:
np.random.seed(101)
df3 = pd.DataFrame(randn(5,4), index = 'A B C D E'.split(), columns = 'W X Y Z'.split())
df3

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

## Selection and Indexing

Let's learn the various methods to grab data from a DataFrame

In [ ]:
df3["W"]

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

#### DataFrame Columns are just Series

In [ ]:
type(df3["W"])

pandas.core.series.Series

In [ ]:
df3[["W"]]

          W
A  2.706850
B  0.651118
C -2.018168
D  0.188695
E  0.190794

In [ ]:
type(df3[["W"]])

pandas.core.frame.DataFrame

In [ ]:
df3.W

A    8.120550
B    1.953354
C   -6.054505
D    0.566086
E    0.572383
Name: W, dtype: float64

In [ ]:
df3

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [ ]:
df3[["W", "Z"]]

          W         Z
A  2.706850  0.503826
B  0.651118  0.605965
C -2.018168 -0.589001
D  0.188695  0.955057
E  0.190794  0.683509

In [ ]:
df3["W":"Y"]

Empty DataFrame
Columns: [W, X, Y, Z]
Index: []

In [ ]:
df3["A":"C"]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001

In [ ]:
df3["A":"C"]["W"]

A    2.706850
B    0.651118
C   -2.018168
Name: W, dtype: float64

In [ ]:
df3["A":"C"][["W", "Y"]]

          W         Y
A  2.706850  0.907969
B  0.651118 -0.848077
C -2.018168  0.528813

**Creating a new column:**

In [ ]:
df3

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [ ]:
df3["new"] = df3["X"] * df3["Y"]
df3

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  0.570325
B  0.651118 -0.319318 -0.848077  0.605965  0.270806
C -2.018168  0.740122  0.528813 -0.589001  0.391387
D  0.188695 -0.758872 -0.933237  0.955057  0.708208
E  0.190794  1.978757  2.605967  0.683509  5.156577

In [ ]:
df3["new2"] = [1,2,3,4,5]
df3

          W         X         Y         Z       new  new2
A  2.706850  0.628133  0.907969  0.503826  0.570325     1
B  0.651118 -0.319318 -0.848077  0.605965  0.270806     2
C -2.018168  0.740122  0.528813 -0.589001  0.391387     3
D  0.188695 -0.758872 -0.933237  0.955057  0.708208     4
E  0.190794  1.978757  2.605967  0.683509  5.156577     5

In [ ]:
df3 = df3[["new", "new2", "W", "X", "Y", "Z"]]
df3

        new  new2         W         X         Y         Z
A  0.570325     1  2.706850  0.628133  0.907969  0.503826
B  0.270806     2  0.651118 -0.319318 -0.848077  0.605965
C  0.391387     3 -2.018168  0.740122  0.528813 -0.589001
D  0.708208     4  0.188695 -0.758872 -0.933237  0.955057
E  5.156577     5  0.190794  1.978757  2.605967  0.683509

## [Removing Columns & Rows](http://localhost:8888/notebooks/pythonic/DAwPythonSessions/w3resource-pandas-dataframe-drop.ipynb)

 ### Removing Columns

In [ ]:
df3.drop("new2", axis=1)

        new         W         X         Y         Z
A  0.570325  2.706850  0.628133  0.907969  0.503826
B  0.270806  0.651118 -0.319318 -0.848077  0.605965
C  0.391387 -2.018168  0.740122  0.528813 -0.589001
D  0.708208  0.188695 -0.758872 -0.933237  0.955057
E  5.156577  0.190794  1.978757  2.605967  0.683509

In [ ]:
df3.drop(["new", "new2"], axis=1)

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [ ]:
df3.drop(columns = ["new", "new2"])

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [ ]:
df3.drop(["new", "new2"], axis=1, inplace=True)

C:\Users\acer\anaconda3\lib\site-packages\pandas\core\frame.py:4315: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [ ]:
df3

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

 ### Removing rows

In [ ]:
df3.drop("C", axis=0)

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [ ]:
df3.drop(index = ["B"])

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [ ]:
df4 = df3.drop("C", axis=0)
df4

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [ ]:
df3

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

## Selecting Rows

### First, let's take a quick look at [`.loc[]`](http://localhost:8888/notebooks/pythonic/DAwPythonSessions/w3resource-pandas-dataframe-loc.ipynb) | [`.iloc[]`](http://localhost:8888/notebooks/pythonic/DAwPythonSessions/w3resource-pandas-dataframe-iloc.ipynb)

#### `.loc[]`  allows us to select data using **labels** (names) of rows (index) & columns

#### `.iloc[]`  allows us to select data using **index numbers** of rows (index) & columns. it's like classical indexing logic

In [ ]:
m = np.random.randint(1,40, size=(8,4))
df4 = pd.DataFrame(m, columns = ["var1","var2","var3",'var4'])
df4

   var1  var2  var3  var4
0     8    11    39    10
1    19     8    16     1
2    13    18    12    16
3    34    30    25    37
4    20    36    31    11
5    21    28     9    23
6    27    24    38    23
7    10     3    19    29

In [ ]:
df4.loc[4]

var1    20
var2    36
var3    31
var4    11
Name: 4, dtype: int32

In [ ]:
df4.loc[[4]]

   var1  var2  var3  var4
4    20    36    31    11

In [ ]:
df4.loc[2:5]

   var1  var2  var3  var4
2    13    18    12    16
3    34    30    25    37
4    20    36    31    11
5    21    28     9    23

In [ ]:
df4.iloc[2:5]

   var1  var2  var3  var4
2    13    18    12    16
3    34    30    25    37
4    20    36    31    11

In [ ]:
df4.index='a b c d e f g h'.split()
df4

   var1  var2  var3  var4
a     8    11    39    10
b    19     8    16     1
c    13    18    12    16
d    34    30    25    37
e    20    36    31    11
f    21    28     9    23
g    27    24    38    23
h    10     3    19    29

In [ ]:
df4.iloc[1:4]

   var1  var2  var3  var4
b    19     8    16     1
c    13    18    12    16
d    34    30    25    37

In [ ]:
#df4.loc[1:4] gives an error

In [ ]:
df4.loc["a":"d"]

   var1  var2  var3  var4
a     8    11    39    10
b    19     8    16     1
c    13    18    12    16
d    34    30    25    37

In [ ]:
df4

   var1  var2  var3  var4
a     8    11    39    10
b    19     8    16     1
c    13    18    12    16
d    34    30    25    37
e    20    36    31    11
f    21    28     9    23
g    27    24    38    23
h    10     3    19    29

In [ ]:
df4.iloc[3, 1]

30

In [ ]:
df4.loc["d", "var2"]

30

In [ ]:
df4.loc["d":"g", "var3"]

d    25
e    31
f     9
g    38
Name: var3, dtype: int32

In [ ]:
df4.loc["d":"g"]["var3"]

d    25
e    31
f     9
g    38
Name: var3, dtype: int32

In [ ]:
df4.loc["d":"g"][["var3"]]

   var3
d    25
e    31
f     9
g    38

In [ ]:
df4.loc["d":"g", ["var3"]]

   var3
d    25
e    31
f     9
g    38

In [ ]:
df4.iloc[2:5,2]

c    12
d    25
e    31
Name: var3, dtype: int32

In [ ]:
df4.iloc[2:5][["var2"]]

   var2
c    18
d    30
e    36

#### Let's continue to examine `.loc[]` and `.iloc[]` using ``df3`` again

In [ ]:
df3

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [ ]:
df3.loc["C"]

W   -2.018168
X    0.740122
Y    0.528813
Z   -0.589001
Name: C, dtype: float64

In [ ]:
df3.iloc[2]

W   -2.018168
X    0.740122
Y    0.528813
Z   -0.589001
Name: C, dtype: float64

In [ ]:
df3.loc[["C"]]

          W         X         Y         Z
C -2.018168  0.740122  0.528813 -0.589001

In [ ]:
df3.iloc[[2]]

          W         X         Y         Z
C -2.018168  0.740122  0.528813 -0.589001

### Selecting subset of rows and columns

 - ### `.loc[[row labels|names], [column labels|names]]`

 - ### `.iloc[[row index numbers], [column index numbers]]`

In [ ]:
df3

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [ ]:
df3.loc["C","Z"]

-0.5890005332865824

In [ ]:
df3.loc[["C"],["Z"]]

          Z
C -0.589001

In [ ]:
df3.loc[["A", "C"], ["X", "Z"]]

          X         Z
A  0.628133  0.503826
C  0.740122 -0.589001

In [ ]:
df3.iloc[0:2,0:3]

          W         X         Y
A  2.706850  0.628133  0.907969
B  0.651118 -0.319318 -0.848077

### Conditional Selection

An important feature of pandas is conditional selection using bracket notation, very similar to numpy:

In [ ]:
df3

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [ ]:
df3>2

       W      X      Y      Z
A   True  False  False  False
B  False  False  False  False
C  False  False  False  False
D  False  False  False  False
E  False  False   True  False

In [ ]:
df3[df3>2]

         W   X         Y   Z
A  2.70685 NaN       NaN NaN
B      NaN NaN       NaN NaN
C      NaN NaN       NaN NaN
D      NaN NaN       NaN NaN
E      NaN NaN  2.605967 NaN

In [ ]:
df3

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [ ]:
df3[df3["Z"]>0.5]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [ ]:
df3[df3["Z"]>0.5]["X"]

A    0.628133
B   -0.319318
D   -0.758872
E    1.978757
Name: X, dtype: float64

In [ ]:
df3[df3["Z"]>0.5][["X"]]

          X
A  0.628133
B -0.319318
D -0.758872
E  1.978757

#### For two conditions you can use **|**  `or`,  **&**   `and` with parenthesis:

In [ ]:
df3

          W         X         Y         Z
A  0.000000  0.000000  0.000000  0.000000
B  0.000000  0.000000  0.000000  0.000000
C -2.018168  0.740122  0.528813 -0.589001
D  0.000000  0.000000  0.000000  0.000000
E  0.190794  1.978757  2.605967  0.683509

In [ ]:
df3[(df3['W']>0) & (df3['Y']<1)]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057

In [ ]:
df3[(df3['W']>0) & (df3['Y']<1)] = 0

In [ ]:
df3

          W         X         Y         Z
A  0.000000  0.000000  0.000000  0.000000
B  0.000000  0.000000  0.000000  0.000000
C -2.018168  0.740122  0.528813 -0.589001
D  0.000000  0.000000  0.000000  0.000000
E  0.190794  1.978757  2.605967  0.683509

### Conditional selection using ``.loc[]`` and ``.iloc[]``

In [ ]:
np.random.seed(101)
df3 = pd.DataFrame(randn(5,4), index = 'A B C D E'.split(), columns = 'W X Y Z'.split())
df3

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [ ]:
df3.loc[(df3.X>0), ["X", "Y"]]

          X         Y
A  0.628133  0.907969
C  0.740122  0.528813
E  1.978757  2.605967

In [ ]:
df3.loc[((df3.W>1) | (df3.Y<1)), ['X','Z']]

          X         Z
A  0.628133  0.503826
B -0.319318  0.605965
C  0.740122 -0.589001
D -0.758872  0.955057

## More Index Details

Let's discuss some more features of indexing, including resetting the index or setting it something else. We'll also talk about index hierarchy!

In [ ]:
df3

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [ ]:
df3.reset_index()

  index         W         X         Y         Z
0     A  2.706850  0.628133  0.907969  0.503826
1     B  0.651118 -0.319318 -0.848077  0.605965
2     C -2.018168  0.740122  0.528813 -0.589001
3     D  0.188695 -0.758872 -0.933237  0.955057
4     E  0.190794  1.978757  2.605967  0.683509

In [ ]:
df3.reset_index(drop = True)

          W         X         Y         Z
0  2.706850  0.628133  0.907969  0.503826
1  0.651118 -0.319318 -0.848077  0.605965
2 -2.018168  0.740122  0.528813 -0.589001
3  0.188695 -0.758872 -0.933237  0.955057
4  0.190794  1.978757  2.605967  0.683509

In [ ]:
df3.set_index("Z")

                  W         X         Y
Z
 0.503826  2.706850  0.628133  0.907969
 0.605965  0.651118 -0.319318 -0.848077
-0.589001 -2.018168  0.740122  0.528813
 0.955057  0.188695 -0.758872 -0.933237
 0.683509  0.190794  1.978757  2.605967

In [ ]:
df3.reset_index(drop=True, inplace=True)
df3

          W         X         Y         Z
0  2.706850  0.628133  0.907969  0.503826
1  0.651118 -0.319318 -0.848077  0.605965
2 -2.018168  0.740122  0.528813 -0.589001
3  0.188695 -0.758872 -0.933237  0.955057
4  0.190794  1.978757  2.605967  0.683509

## Multi-Index and Index Hierarchy

Let us go over how to work with Multi-Index, first we'll create a quick example of what a Multi-Indexed DataFrame would look like:

In [7]:
import pandas as pd
import numpy as np

In [ ]:
#birden fazla sutunu gruplandirip yeni bir data frame olustduugunda birden fazla
#dataframe olcak muttiframe durumu olcak
#

In [1]:
# Index Levels
outside = ['M1', 'M1', 'M1', 'M2', 'M2', 'M2','M3', 'M3', 'M3']
inside = [1, 2, 3, 1, 2, 3, 5, 6, 7]
multi_index = list(zip(outside, inside))
multi_index

[('M1', 1),
 ('M1', 2),
 ('M1', 3),
 ('M2', 1),
 ('M2', 2),
 ('M2', 3),
 ('M3', 5),
 ('M3', 6),
 ('M3', 7)]

In [5]:
hier_index=pd.MultiIndex.from_tuples(multi_index)
#multi index bir data frame olarin kodlari

In [8]:
df=pd.DataFrame(np.random.randn(9,4), index = hier_index, 
columns=['A','B','C','D'])
df

             A         B         C         D
M1 1 -1.093168  2.286999  0.166037  0.035878
   2 -0.333844 -0.781496  0.342323 -0.935334
   3 -0.359812  1.787917 -1.049037  0.466062
M2 1  0.504197  0.604518  1.487773 -0.014474
   2  0.498965 -0.017144 -0.809603  3.175520
   3 -0.179710  0.748639  0.057222 -1.825385
M3 5  1.123725  0.246458  1.329698  0.311625
   6 -0.263134  1.376085 -0.009376  0.996256
   7 -0.166953  2.070371 -0.265037 -0.176223

In [9]:
df.loc["M1"]

          A         B         C         D
1 -1.093168  2.286999  0.166037  0.035878
2 -0.333844 -0.781496  0.342323 -0.935334
3 -0.359812  1.787917 -1.049037  0.466062

In [10]:
df.loc["M1"].loc[2]

A   -0.333844
B   -0.781496
C    0.342323
D   -0.935334
Name: 2, dtype: float64

In [ ]:
#bunu daatfram olrak gormek icin bir b=koseli daha yapiyoz

In [11]:
df.loc["M1"].loc[[2]]

          A         B         C         D
2 -0.333844 -0.781496  0.342323 -0.935334

In [ ]:
#indexlerimizin yukarda ismi yok biz buna index ismi verebiliriz

In [12]:
df.index.names

FrozenList([None, None])

In [13]:
df.index.names=["Group","Num"]
df

                  A         B         C         D
Group Num
M1    1   -1.093168  2.286999  0.166037  0.035878
      2   -0.333844 -0.781496  0.342323 -0.935334
      3   -0.359812  1.787917 -1.049037  0.466062
M2    1    0.504197  0.604518  1.487773 -0.014474
      2    0.498965 -0.017144 -0.809603  3.175520
      3   -0.179710  0.748639  0.057222 -1.825385
M3    5    1.123725  0.246458  1.329698  0.311625
      6   -0.263134  1.376085 -0.009376  0.996256
      7   -0.166953  2.070371 -0.265037 -0.176223

### let's take a quick look at the [``.xs()``](http://localhost:8888/notebooks/pythonic/DAwPythonSessions/w3resource-pandas-dataframe-xs.ipynb)

In [ ]:
#multi indexde rahatca dolastirir atama yapamazsin loc gibi ama xs ile bunu yapamazsin
#bu araryi cekip degisiklik yapmani saglar

In [14]:
df.xs("M1")

            A         B         C         D
Num
1   -1.093168  2.286999  0.166037  0.035878
2   -0.333844 -0.781496  0.342323 -0.935334
3   -0.359812  1.787917 -1.049037  0.466062

In [15]:
df.loc["M1"]

            A         B         C         D
Num
1   -1.093168  2.286999  0.166037  0.035878
2   -0.333844 -0.781496  0.342323 -0.935334
3   -0.359812  1.787917 -1.049037  0.466062

In [16]:
df.xs(("M1",2))#

A   -0.333844
B   -0.781496
C    0.342323
D   -0.935334
Name: (M1, 2), dtype: float64

In [19]:
df.xs(("M1",2),level=[0,1])

                  A         B         C         D
Group Num
M1    2   -0.333844 -0.781496  0.342323 -0.935334

In [ ]:
df.xs(("M1",2),level=["Group","Num"])#key de yazdigim indeksin nerde oldugunu level
#da yazabilirim

In [ ]:
#neler olmaz
#loc ile aradakini cekemem
#xs ile de aradakini cekemem

In [20]:
#df.loc[2]
#df.xs(2)
df.xs(2,level="Num")#niye iki tane hem mz de hem m2 de 2 var
#bas tarafda ilk gruplandirma indexi yazmadigimdan ikisini getirdi

              A         B         C         D
Group
M1    -0.333844 -0.781496  0.342323 -0.935334
M2     0.498965 -0.017144 -0.809603  3.175520

In [21]:
df.xs(5,level="Num")#number leveldeki indexe gore getiriyor sizin yazdiginizi yazmiyor yeniden

              A         B         C         D
Group
M3     1.123725  0.246458  1.329698  0.311625

In [22]:
df.xs(5,level=1)#ayni

              A         B         C         D
Group
M3     1.123725  0.246458  1.329698  0.311625

In [23]:
#sutun secmek isterim
df["C"]

Group  Num
M1     1      0.166037
       2      0.342323
       3     -1.049037
M2     1      1.487773
       2     -0.809603
       3      0.057222
M3     5      1.329698
       6     -0.009376
       7     -0.265037
Name: C, dtype: float64

In [24]:
df.xs("C",axis=1)

Group  Num
M1     1      0.166037
       2      0.342323
       3     -1.049037
M2     1      1.487773
       2     -0.809603
       3      0.057222
M3     5      1.329698
       6     -0.009376
       7     -0.265037
Name: C, dtype: float64

### Let's learn new functions/attributes/methods on "iris dataset"

In [25]:
import seaborn as sns

In [ ]:
#seabornda egitim icin data setleri var

In [26]:
df = sns.load_dataset("iris")
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [27]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [29]:
df.shape

(150, 5)

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [31]:
df.sample()

<bound method NDFrame.sample of      sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]>

In [32]:
df.sample(5)#cesitli yerlerden veri kullanriz

    sepal_length  sepal_width  petal_length  petal_width     species
56           6.3          3.3           4.7          1.6  versicolor
3            4.6          3.1           1.5          0.2      setosa
54           6.5          2.8           4.6          1.5  versicolor
15           5.7          4.4           1.5          0.4      setosa
78           6.0          2.9           4.5          1.5  versicolor

In [ ]:
#default olarak istatistik veri veren numaric sutunlari getirr

In [33]:
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [34]:
df.describe().transpose()#kolaylik saglar butun data setin istaytiki bilgiisini gorun

              count      mean       std  min  25%   50%  75%  max
sepal_length  150.0  5.843333  0.828066  4.3  5.1  5.80  6.4  7.9
sepal_width   150.0  3.057333  0.435866  2.0  2.8  3.00  3.3  4.4
petal_length  150.0  3.758000  1.765298  1.0  1.6  4.35  5.1  6.9
petal_width   150.0  1.199333  0.762238  0.1  0.3  1.30  1.8  2.5

In [47]:
df.describe().T#aynisini veriri yukardakiynan

              count      mean       std  min  25%   50%  75%  max
sepal_length  150.0  5.843333  0.828066  4.3  5.1  5.80  6.4  7.9
sepal_width   150.0  3.057333  0.435866  2.0  2.8  3.00  3.3  4.4
petal_length  150.0  3.758000  1.765298  1.0  1.6  4.35  5.1  6.9
petal_width   150.0  1.199333  0.762238  0.1  0.3  1.30  1.8  2.5

In [35]:
#sayisal ve kategorileri gorem ben dersen
df.describe(include="all")

        sepal_length  sepal_width  petal_length  petal_width species
count     150.000000   150.000000    150.000000   150.000000     150
unique           NaN          NaN           NaN          NaN       3
top              NaN          NaN           NaN          NaN  setosa
freq             NaN          NaN           NaN          NaN      50
mean        5.843333     3.057333      3.758000     1.199333     NaN
std         0.828066     0.435866      1.765298     0.762238     NaN
min         4.300000     2.000000      1.000000     0.100000     NaN
25%         5.100000     2.800000      1.600000     0.300000     NaN
50%         5.800000     3.000000      4.350000     1.300000     NaN
75%         6.400000     3.300000      5.100000     1.800000     NaN
max         7.900000     4.400000      6.900000     2.500000     NaN

In [36]:
#top en cok tekrar eden
#bu describen icinde number ve object 
# "number" and "object" can be used as include/exclude parameter

In [37]:
df.corr()#tum numerik sutunlari numerik sutunlarla koralasyonu veirir

              sepal_length  sepal_width  petal_length  petal_width
sepal_length      1.000000    -0.117570      0.871754     0.817941
sepal_width      -0.117570     1.000000     -0.428440    -0.366126
petal_length      0.871754    -0.428440      1.000000     0.962865
petal_width       0.817941    -0.366126      0.962865     1.000000

In [38]:
df.corr()[["sepal_length"]]#ilgilendigim 1 degere bakmak istersen
#sadece bir elemanin digerleri ile korelasyonu da bakarsin

              sepal_length
sepal_length      1.000000
sepal_width      -0.117570
petal_length      0.871754
petal_width       0.817941

In [39]:
#bir sutunu baska bir sutunla iliskisine de bakabilin
df["petal_length"].corr(["petal_width"])

TypeError: ignored

In [49]:
df["species"].value_counts#icindeki valulari cagirir

<bound method IndexOpsMixin.value_counts of 0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, Length: 150, dtype: object>

In [ ]:
#unique degelerin sayisi
df["species"]..value_counts(dropna=False)
#none valu olsaydi onlarin sayisini da vercekti

In [ ]:
df["species"]..value_counts(dropna=False,normalize=True)
#dagilimi yuzdelik gormek istersem

In [ ]:
df["species"].value_counts(dropna=False)

In [40]:
df.species.unique()#unikelerin sayisi gosterir

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [41]:
df.species.nunique()#number of unique

3

In [42]:
#row ile alakali conditioni yazdim 
df.loc[df["species"]=="setosa","sepal_lenght"]#specide ki setosa satirlarini birde spel lengt sutunu getir

KeyError: ignored

In [ ]:
#df.species.unique() ==> array olarak deeri verir
#df.species.nunique() ==> say olarak

In [ ]:
#4ili 5 arasindaki sepaldeki satirlari getir

In [ ]:
f[(df.sepal_length>4) & (df.sepal_length<5)]

df.loc[df["species"]=="setosa", "sepal_length"]

df[(df.species == "virginica") & (df.sepal_length>4)  & (df.sepal_length<5)]

In [51]:
df.loc[(df.sepal_length>4) & (df.sepal_length<5)]
#loc iloc atama icin en garantisidir hata vermemesine ragmen calismaz
#loc atama icn best

     sepal_length  sepal_width  petal_length  petal_width     species
1             4.9          3.0           1.4          0.2      setosa
2             4.7          3.2           1.3          0.2      setosa
3             4.6          3.1           1.5          0.2      setosa
6             4.6          3.4           1.4          0.3      setosa
8             4.4          2.9           1.4          0.2      setosa
9             4.9          3.1           1.5          0.1      setosa
11            4.8          3.4           1.6          0.2      setosa
12            4.8          3.0           1.4          0.1      setosa
13            4.3          3.0           1.1          0.1      setosa
22            4.6          3.6           1.0          0.2      setosa
24            4.8          3.4           1.9          0.2      setosa
29            4.7          3.2           1.6          0.2      setosa
30            4.8          3.1           1.6          0.2      setosa
34            4.9          3.1           1.5          0.2      setosa
37            4.9          3.6           1.4          0.1      setosa
38            4.4          3.0           1.3          0.2      setosa
41            4.5          2.3           1.3          0.3      setosa
42            4.4          3.2           1.3          0.2      setosa
45            4.8          3.0           1.4          0.3      setosa
47            4.6          3.2           1.4          0.2      setosa
57            4.9          2.4           3.3          1.0  versicolor
106           4.9          2.5           4.5          1.7   virginica

In [44]:
df.loc[df["species"]=="setosa", "sepal_length"]

0     5.1
1     4.9
2     4.7
3     4.6
4     5.0
5     5.4
6     4.6
7     5.0
8     4.4
9     4.9
10    5.4
11    4.8
12    4.8
13    4.3
14    5.8
15    5.7
16    5.4
17    5.1
18    5.7
19    5.1
20    5.4
21    5.1
22    4.6
23    5.1
24    4.8
25    5.0
26    5.0
27    5.2
28    5.2
29    4.7
30    4.8
31    5.4
32    5.2
33    5.5
34    4.9
35    5.0
36    5.5
37    4.9
38    4.4
39    5.1
40    5.0
41    4.5
42    4.4
43    5.0
44    5.1
45    4.8
46    5.1
47    4.6
48    5.3
49    5.0
Name: sepal_length, dtype: float64

In [43]:
df[(df.species == "virginica") & (df.sepal_length>4)  & (df.sepal_length<5)]

     sepal_length  sepal_width  petal_length  petal_width    species
106           4.9          2.5           4.5          1.7  virginica

In [46]:
df.loc[(df.species == "virginica") & (df.sepal_length>4)  & (df.sepal_length<5)]

     sepal_length  sepal_width  petal_length  petal_width    species
106           4.9          2.5           4.5          1.7  virginica

In [45]:
df.sort_values(by = 'sepal_length', ascending = True)
#degerleri sirala neye goreye by kismina yazicam

     sepal_length  sepal_width  petal_length  petal_width    species
13            4.3          3.0           1.1          0.1     setosa
42            4.4          3.2           1.3          0.2     setosa
38            4.4          3.0           1.3          0.2     setosa
8             4.4          2.9           1.4          0.2     setosa
41            4.5          2.3           1.3          0.3     setosa
..            ...          ...           ...          ...        ...
122           7.7          2.8           6.7          2.0  virginica
118           7.7          2.6           6.9          2.3  virginica
117           7.7          3.8           6.7          2.2  virginica
135           7.7          3.0           6.1          2.3  virginica
131           7.9          3.8           6.4          2.0  virginica

[150 rows x 5 columns]

# End of the Session

In [2]:
sepal_width in df

NameError: ignored