<a href="https://colab.research.google.com/github/eildes06/pandasss/blob/main/DAwPy_S5_6_(Groupby%2CAggregation%2CDataFrame_Operations%2CPivot_Tables%2CStack)_empty.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" alt="CLRSWY"></p>

___

<h1><p style="text-align: center;">Pandas Lesson, Session - 5</p><h1>

# Basic aggregation methods:

* ``count()``
* ``mean()``
* ``median()``
* ``min()``
* ``max()``
* ``std()``
* ``var()``
* ``sum()``
* ``idxmin()``
* ``idxmax()``
* ``corr()``

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
np.random.seed(42)
df = pd.DataFrame(np.random.randint(0,100,size=(7,5)),
                  columns=["x1","x2","x3","x4","x5"])
df

   x1  x2  x3  x4  x5
0  51  92  14  71  60
1  20  82  86  74  74
2  87  99  23   2  21
3  52   1  87  29  37
4   1  63  59  20  32
5  75  57  21  88  48
6  90  58  41  91  59

In [3]:
df.count()#sutunlari sayiyor

x1    7
x2    7
x3    7
x4    7
x5    7
dtype: int64

In [4]:
df.x1.count()

7

In [5]:
df.mean()

x1    53.714286
x2    64.571429
x3    47.285714
x4    53.571429
x5    47.285714
dtype: float64

In [6]:
df.x2.mean()

64.57142857142857

In [8]:
df.median()

x1    52.0
x2    63.0
x3    41.0
x4    71.0
x5    48.0
dtype: float64

In [9]:
df.min()

x1     1
x2     1
x3    14
x4     2
x5    21
dtype: int64

In [11]:
df.idxmax()#her bir sutunda max degerin hangi indexde ile ilgili oldugunu gosteriyor

x1    6
x2    2
x3    3
x4    6
x5    1
dtype: int64

In [ ]:
#argmax serilerdeve arraylarde listlerde falan calisiyor df de hata veriri
#data framde uygulanmaz
#df.argmax()

In [12]:
df.x2.idxmax()

2

In [13]:
df.x2.argmax()#burda calisir cunku bu bir tane seri

2

In [14]:
df.std()

x1    33.673502
x2    32.623392
x3    30.663302
x4    35.818325
x5    18.454577
dtype: float64

In [15]:
#bir yada birden fazla sutunada bakabilin
df[["x1","x2"]].std()

x1    33.673502
x2    32.623392
dtype: float64

In [ ]:
3## sutun index row colum ayni ama value baska
#bir sutun bir seri demek

In [16]:
df.var()

x1    1133.904762
x2    1064.285714
x3     940.238095
x4    1282.952381
x5     340.571429
dtype: float64

In [17]:
df.sum()

x1    376
x2    452
x3    331
x4    375
x5    331
dtype: int64

In [19]:
#dataframe olarak almak icin veriyi yukardakin
pd.DataFrame(df.sum())

      0
x1  376
x2  452
x3  331
x4  375
x5  331

In [20]:
df.sum(axis=1)#her bir sutundaki degeri topluyor

0    288
1    336
2    232
3    206
4    175
5    289
6    339
dtype: int64

In [21]:
df

   x1  x2  x3  x4  x5
0  51  92  14  71  60
1  20  82  86  74  74
2  87  99  23   2  21
3  52   1  87  29  37
4   1  63  59  20  32
5  75  57  21  88  48
6  90  58  41  91  59

In [22]:
df.sum(axis=0)#her bir sutundaki degeri topluyor

x1    376
x2    452
x3    331
x4    375
x5    331
dtype: int64

In [ ]:
#yan yana icin axis 1 olmali bir sutun icinde axis 0 olmali tatlim.

# Groupby  & Aggregation

## DataFrame.groupby()

The ``groupby`` method allows you to group rows of data together and call aggregate functions

Now you can use the ``.groupby()`` method to group rows together based off of a column name. This will create a DataFrameGroupBy object:

In [ ]:
#iris kullanyoz yine

In [23]:
df=sns.load_dataset('iris')
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [ ]:
#genelde kategorik veriler uzerinde grup yapilir

In [24]:
df.groupby("species")#agretion kullanmazsan sana arkada olustirir
#ama gormen iicn arkasina agretion fonk yazmallisini

In [26]:
df.groupby("species").mean()

            sepal_length  sepal_width  petal_length  petal_width
species
setosa             5.006        3.428         1.462        0.246
versicolor         5.936        2.770         4.260        1.326
virginica          6.588        2.974         5.552        2.026

In [27]:
df.groupby("species").describe()#bunu okumak icin transpoze yapasak okuruz

           sepal_length                               ... petal_width
                  count   mean       std  min    25%  ...         min  25%  50%  75%  max
species                                               ...
setosa             50.0  5.006  0.352490  4.3  4.800  ...         0.1  0.2  0.2  0.3  0.6
versicolor         50.0  5.936  0.516171  4.9  5.600  ...         1.0  1.2  1.3  1.5  1.8
virginica          50.0  6.588  0.635880  4.9  6.225  ...         1.4  1.8  2.0  2.3  2.5

[3 rows x 32 columns]

In [28]:
df.groupby("species").describe().T
#okuyamiyorduk ya iicndekileri t ile okuyoz artik

species                setosa  versicolor  virginica
sepal_length count  50.000000   50.000000  50.000000
             mean    5.006000    5.936000   6.588000
             std     0.352490    0.516171   0.635880
             min     4.300000    4.900000   4.900000
             25%     4.800000    5.600000   6.225000
             50%     5.000000    5.900000   6.500000
             75%     5.200000    6.300000   6.900000
             max     5.800000    7.000000   7.900000
sepal_width  count  50.000000   50.000000  50.000000
             mean    3.428000    2.770000   2.974000
             std     0.379064    0.313798   0.322497
             min     2.300000    2.000000   2.200000
             25%     3.200000    2.525000   2.800000
             50%     3.400000    2.800000   3.000000
             75%     3.675000    3.000000   3.175000
             max     4.400000    3.400000   3.800000
petal_length count  50.000000   50.000000  50.000000
             mean    1.462000    4.260000   5.552000
             std     0.173664    0.469911   0.551895
             min     1.000000    3.000000   4.500000
             25%     1.400000    4.000000   5.100000
             50%     1.500000    4.350000   5.550000
             75%     1.575000    4.600000   5.875000
             max     1.900000    5.100000   6.900000
petal_width  count  50.000000   50.000000  50.000000
             mean    0.246000    1.326000   2.026000
             std     0.105386    0.197753   0.274650
             min     0.100000    1.000000   1.400000
             25%     0.200000    1.200000   1.800000
             50%     0.200000    1.300000   2.000000
             75%     0.300000    1.500000   2.300000
             max     0.600000    1.800000   2.500000

In [29]:
df.groupby("species").sum()
#ben hepsini gormek istemiyorum 1 sutun istiyom

            sepal_length  sepal_width  petal_length  petal_width
species
setosa             250.3        171.4          73.1         12.3
versicolor         296.8        138.5         213.0         66.3
virginica          329.4        148.7         277.6        101.3

In [ ]:
#grupbydan sonra hangi sutun goreceksen onu yazcan

In [70]:
df.groupby("species")["sepal_length].sum()

SyntaxError: ignored

In [72]:
#bunu data fram olmasi icin koseliye alcan
df.groupby("species")[["sepal_length]].sum()

SyntaxError: ignored

In [33]:
data = {'Company':['GOOG', 'GOOG', 'MSFT', 'MSFT', 'GOOG', 'MSFT', 'GOOG', 'MSFT'],
        'Department':['HR', 'IT', 'IT', 'HR', 'HR', 'IT', 'IT', 'HR'],
        'Person':['Sam', 'Charlie', 'Amy', 'Vanessa', 'Carl', 'Sarah', 'Tom', 'Terry'],
        'Age':[30, 28, 35, 40, 42, 25, 32, 48],
        'Sales':[200, 120, 340, 124, 243, 350, 180, 220]}

df1 = pd.DataFrame(data)
df1

  Company Department   Person  Age  Sales
0    GOOG         HR      Sam   30    200
1    GOOG         IT  Charlie   28    120
2    MSFT         IT      Amy   35    340
3    MSFT         HR  Vanessa   40    124
4    GOOG         HR     Carl   42    243
5    MSFT         IT    Sarah   25    350
6    GOOG         IT      Tom   32    180
7    MSFT         HR    Terry   48    220

In [34]:
df1.groupby("Company").mean()#categorical lari gecti gordun mu

          Age   Sales
Company
GOOG     33.0  185.75
MSFT     37.0  258.50

In [38]:
df1.groupby("Company")[["Sales"]].mean()#nokta onun o sunu onun sununu getir demek

          Sales
Company
GOOG     185.75
MSFT     258.50

In [37]:
df1.groupby(["Company","Department"]).mean()#siralama onemli  guppluyor sonra depratmina gre grupluyor

                     Age  Sales
Company Department
GOOG    HR          36.0  221.5
        IT          30.0  150.0
MSFT    HR          44.0  172.0
        IT          30.0  345.0

In [ ]:
#grup by icin bir kactane kategoru yazabilin 
#google hr da calisanlarin yas ort 36
#microsoft da it da calisanlarin yas ortalamasi 30 mus

In [ ]:
df1.groupby("Company").mean()

In [73]:
df1.groupby(["Company","Department"])[["Sales"]].mean()

                    Sales
Company Department
GOOG    HR          221.5
        IT          150.0
MSFT    HR          172.0
        IT          345.0

In [41]:
by_comp=df1.groupby("Company")

In [42]:
by_comp

In [43]:
by_comp.mean()

          Age   Sales
Company
GOOG     33.0  185.75
MSFT     37.0  258.50

# DataFrame/Series Operations

- ### `.aggregate()/agg()`
- ### `.filter()`
- ### `.transform()`
- ### `.apply()`
- ### `.applymap()`
- ### `.map()`
- ### `.pivot() & .pivot_table()`
- ### `.stack() & .unstack()`

## ``.aggregate()/agg()``

### DataFrame.agg()

In [44]:
df2 = pd.DataFrame({'groups': ['A', 'B', 'C', 'A', 'B', 'C', 'A', 'B', 'C'],
                   'var1': [10, 23, 33, 22, 11, 99, 76, 84, 45],
                   'var2': [100, 253, 333, 262, 111, 969, 405, 578, 760]})
df2

  groups  var1  var2
0      A    10   100
1      B    23   253
2      C    33   333
3      A    22   262
4      B    11   111
5      C    99   969
6      A    76   405
7      B    84   578
8      C    45   760

In [45]:
df2.agg([sum,min])#her sutuna uyguladi bazen uygulamadiginda hata verir

        groups  var1  var2
sum  ABCABCABC   403  3771
min          A    10   100

In [ ]:
df2.agg(["sum","min"])

In [46]:
#df den istedgimizde secebuluruz
df2[["var1","var2"]].agg([sum,min])

     var1  var2
sum   403  3771
min    10   100

In [47]:
df2.agg({"var1":[sum],"var2":[min]})#bir saturin bir sutunu istiyorsan dict kullan

      var1   var2
min    NaN  100.0
sum  403.0    NaN

In [48]:
df2.agg({"var1":[sum,np.mean],"var2":[min,max]})

            var1   var2
max          NaN  969.0
mean   44.777778    NaN
min          NaN  100.0
sum   403.000000    NaN

In [49]:
df2.groupby("groups").agg([np.mean,np.median,np.max])

             var1                    var2
             mean median amax        mean median amax
groups
A       36.000000     22   76  255.666667    262  405
B       39.333333     23   84  314.000000    253  578
C       59.000000     45   99  687.333333    760  969

### DataFrame.groupby().agg()

In [ ]:
#yukardada var grup by

In [50]:
df2.groupby("groups").agg({"var1":[min,"max"],"var2":"median"})

       var1       var2
        min max median
groups
A        10  76    262
B        11  84    253
C        33  99    760

In [51]:
df2.groupby(â€œgroupsâ€)[â€œvar1"].agg([min,max])

SyntaxError: ignored

In [52]:
df2.groupby(â€œgroupsâ€)[â€œvar1"].agg([min,â€œmaxâ€])

SyntaxError: ignored

## .filter()

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.filter.html

https://www.sharpsightlabs.com/blog/pandas-filter/

### DataFrame.filter()

DataFrame.filter(items=None, like=None, regex=None, axis=None)

Subset the dataframe rows or columns according to the specified index labels.

Note that this routine does not filter a dataframe on its contents. The filter is applied to the labels of the index.

In [ ]:
#dataframe uzerine veya grup by ilede kullanabilin

In [54]:
df2.filter(["groups","var1"])

  groups  var1
0      A    10
1      B    23
2      C    33
3      A    22
4      B    11
5      C    99
6      A    76
7      B    84
8      C    45

In [55]:
#ama yukardaki yerine bu daha guzel
df2[["groups","var1"]]

  groups  var1
0      A    10
1      B    23
2      C    33
3      A    22
4      B    11
5      C    99
6      A    76
7      B    84
8      C    45

In [56]:
#ama avantaji filterin ise regex diye bise var
#regex string bir ifaddeden istegin kismi almak demek

df2.filter(regex="^var",axis=1)
#icerdeki degerler ile islem yapmaz sutun isimlerini index isimlerini cekebilirm
#bak ici degil mesela sonu er ile bite sadeece sayi ile baslayanlari cekmen gereken
#durumlarda kullanilir bunun birde like var

   var1  var2
0    10   100
1    23   253
2    33   333
3    22   262
4    11   111
5    99   969
6    76   405
7    84   578
8    45   760

In [57]:
#like bana varlari getir 
df2.filter(like="var",axis=1)

   var1  var2
0    10   100
1    23   253
2    33   333
3    22   262
4    11   111
5    99   969
6    76   405
7    84   578
8    45   760

In [58]:
df2.filter(like="var",axis=0)

Empty DataFrame
Columns: [groups, var1, var2]
Index: []

In [59]:
df2.filter(like="5",axis=0)

  groups  var1  var2
5      C    99   969

### DataFrame.groupby().filter()

DataFrameGroupBy.filter(func, dropna=True, *args, **kwargs)

Return a copy of a DataFrame excluding filtered elements.

Elements from groups are filtered if they do not satisfy the boolean criterion specified by func.

In [61]:
df2.groups.unique()

array(['A', 'B', 'C'], dtype=object)

In [62]:
df2.groupby("groups").mean()

             var1        var2
groups
A       36.000000  255.666667
B       39.333333  314.000000
C       59.000000  687.333333

In [64]:
def filter_func(x):
    return x["var1"].mean() > 39

In [65]:
df2.groupby("groups").filter(filter_func)
#gruolandir  yukardagormedigim kodu gordum
#geldi filter fonk calisacak
# yani bir gruplandirma uzerinden filter yaptik

  groups  var1  var2
1      B    23   253
2      C    33   333
4      B    11   111
5      C    99   969
7      B    84   578
8      C    45   760

In [74]:
#
df2.groupby("groups").sum

In [68]:
df2.groupby("groups").filter(lambda x:x["var2"].sum()<800)

  groups  var1  var2
0      A    10   100
3      A    22   262
6      A    76   405

## .transform()

Pythonâ€™s Transform function returns a self-produced dataframe with transformed values after applying the function specified in its parameter. This dataframe has the same length as the passed dataframe.

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.transform.html

https://www.analyticsvidhya.com/blog/2020/03/understanding-transform-function-python/

### DataFrame.transform()

DataFrame.transform(func, axis=0, *args, **kwargs)

Call func on self producing a DataFrame with the same axis shape as self.

### DataFrame.groupby().transform()

DataFrameGroupBy.transform(func, *args, engine=None, engine_kwargs=None, **kwargs)

Call function producing a like-indexed DataFrame on each group and return a DataFrame having the same indexes as the original object filled with the transformed values.

<h1><p style="text-align: center;">Pandas Lesson, Session - 6</p><h1>

## .apply()

### Series.apply() - df["col"].apply()

Series.apply(func, convert_dtype=True, args=(), **kwargs)

Invoke function on values of Series.

Can be ufunc (a NumPy function that applies to the entire Series) or a Python function that only works on single values.

### DataFrame.apply()

DataFrame.apply(func, axis=0, raw=False, result_type=None, args=(), **kwargs)

Apply a function along an axis of the DataFrame.

### DataFrame.applymap()

DataFrame.applymap(func, na_action=None, **kwargs)

Apply a function to a Dataframe elementwise.

This method applies a function that accepts and returns a scalar to every element of a DataFrame.

applymap() is only available in DataFrame and used for element-wise operation across the whole DataFrame. It has been optimized and some cases work **much faster than apply()**

applymap() method only works on a pandas dataframe where function is applied on every element individually. apply() method can be applied both to series and dataframes where function can be applied both series and individual elements based on the type of function provided.

## .map()
### Series.map() - df["col"].map()

Series.map(arg, na_action=None)

Map values of Series according to an input mapping or function.

Used for substituting each value in a Series with another value, that may be derived from a function, a dict or a Series.

Python's map() is a built-in function that allows you to process and transform all the items in an iterable without using an explicit for loop, a technique commonly known as mapping. map() is useful when you need to apply a transformation function to each item in an iterable and transform them into a new iterable.

https://realpython.com/python-map-function/#:~:text=Python's%20map()%20is%20a,them%20into%20a%20new%20iterable.

The map() function is used to map values of Series according to input correspondence. Used for substituting each value in a Series with another value, that may be derived from a function, a dict or a Series.

map() accepts a dict or a Series. Values that are not found in the dict are converted to NaN, unless
the dict has a default value.

https://www.w3resource.com/pandas/series/series-map.php

- **apply()** is used to apply a function along an axis of the DataFrame or on values of Series.
- **applymap()** is used to apply a function to a DataFrame elementwise.
- **map()** is used to substitute each value in a Series with another value.

https://towardsdatascience.com/introduction-to-pandas-apply-applymap-and-map-5d3e044e93ff#:~:text=apply()%20is%20used%20to,a%20Series%20with%20another%20value.

https://stackoverflow.com/questions/19798153/difference-between-map-applymap-and-apply-methods-in-pandas

## df.transform() vs df.apply()

- Both apply() and transform() can be used to manipulate the entire DataFrame.

- Both apply() and transform() support lambda expression.

- Both apply() and transform() can be used for manipulating a single column.

### Differences between .apply() and .transform() when manupulating data
(1) transform() works with function, a string function, a list of functions, and a dict. However, apply() is only allowed with function.

(2) transform() cannot produce aggregated results.

(3) apply() works with multiple Series at a time. But, transform() is only allowed to work with a single Series at a time.

### Differences Between .apply() and .transform() when using them in conjunction with groupby()
(1) transform() returns a DataFrame that has the same length as the input

(2) apply() works with multiple Series at a time. But, transform() is only allowed to work with a single Series at a time.

# pivot() vs pivot_table()

- Pivot_table is a generalization of pivot that can handle duplicate values for one pivoted index/column pair.

- Pivot_table will only allow numeric types as "values=", whereas pivot will take string types as "values=".

- Pivot_table also supports using multiple columns for the index.

# .stack() & .unstack()

Reshaping the data using stack() function in pandas converts the data into stacked format .i.e. the column is stacked row wise. When more than one column header is present we can stack the specific column header by specified the level. unstack() function in pandas converts the data into unstacked format.

https://www.datasciencemadesimple.com/reshape-using-stack-unstack-function-pandas-python/

**why and when should use a stack() and unstack() methods?**

https://stackoverflow.com/questions/69139030/why-and-when-should-use-a-stack-and-unstack-methods