<a href="https://colab.research.google.com/github/eildes06/pandasss/blob/main/DAwPy_Lab2_Regex_(TR).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Expressions :
***

`\d`                         Any numeric digit from `0` to `9`.
                           
`\D`                         Matches any character which is not a decimal digit. 
                           This is the opposite of `\d`.
                           
`\w`                         Any letter, numeric digit, or the underscore
                           character.  (Think of this as matching
                           "word" characters.)
                           
`\W`                         Any character that is not a letter,
                           numeric digit, or the underscore character.
                           
`\s`                         Any space, tab, or newline character.  (
                           Think of this as matching white-space
                           characters.)
                           
`\S`                         Any character that is not a space, tab,
                           or newline.
***

In [ ]:
#regex pek cok yerde kullanilir
#genelde regexi daha cok br veri var icinde alfabetik no krakter flan #bosluk falan var
#burda regex ile patern arama yapabiliriz
#konrollu arama

In [1]:
import re#regexin librarysidir re
import pandas as pd

- Search()

In [3]:
text="A546o0K"

In [9]:
num= re.search("\d\d",text)#5 matclesdigi ilk buldugu kisim
num

In [12]:
num.start

In [7]:
num.end

In [8]:
num.span

In [ ]:
#biz

In [ ]:
nondigi=re.search("")

In [ ]:
text = "8PM_19MIN"

In [ ]:
nondigi=re.search('\D',text)

In [ ]:
nondigi.group()

In [13]:
text = 'My phone number is 555 666 7777'

In [14]:
re.search("\d\d\d", text)

In [15]:
re.search("\d\d\d \d\d\d \d\d\d", text)#19 dan basliyor 30 arasi benim istedigim

In [16]:
telno= re.search("\d\d\d \d\d\d \d\d\d", text)
telno.group()

'555 666 777'

In [ ]:
text = 'My phone number is 555 666 7777'

In [20]:
tel= re.search("\d\d\d\D\d\d\d\D\d\d\d\d", text)
tel.group()

'555 666 7777'

In [ ]:
#bunalri ayri ayri gruplamak istersek de paranteze aliriz herhangi bir grupu 
#secmek istediginde 1,2, 3 vercen
#bise yazmazsan hepsi ama 777 icin 2 yazmalisiniz

In [26]:
telno=re.search('(\d\d\d)-(\d\d\d)-(\d\d\d\d)',text)
tel.group(1)

IndexError: ignored

In [25]:
telno = re.search("\d"*3 + "-" + "\d"*3 + "-" + "\d"*4, text)
telno.group()

AttributeError: ignored

- Sub()

In [ ]:
#replace gibi dusun degistirme islemi yapiyor
#eslestirdigin neyse onlar degistiriyor
#nonu icine gir yildizla degistir

In [29]:
phone = "2005-960-660"
re.sub("\D","*",phone)

'2005*960*660'

In [34]:
phone = "2005-960-660"
re.sub('\d','*',phone)

'****-***-***'

In [35]:
re.sub("6", "7", phone)

'2005-970-770'

In [38]:
txt="You are good man"
x= re.sub("\s","*",txt,2)
x#

'You*are*good man'

- Findall()

### Special Characters
___

``"[]"``	  A set of characters	``"[a-m]"``

``"\"``	      Signals a special sequence (can also be used to escape special characters)

``"."``	      Any character (except newline character)

``"^"``	      Starts with	``"^hello"``

``"$"``	      Ends with	``"world$"``

``"*"``	      Zero or more occurrences

`"+"`	      One or more occurrences

`"{}"`	  Exactly the specified number of occurrences

`"|"`	      Either or	`"falls|stays"`

`"()"`	  Capture and group
___

In [ ]:
#bu liste halinde getiriyaa

In [40]:
value='o 1 , t ,o 100. 100000000'
value

'o 1 , t ,o 100. 100000000'

In [41]:
output=re.findall('\d{1,5}',value)
print(output)

['1', '100', '10000', '0000']

In [42]:
txt="1 person aganist 100 people"
output=re.findall("d+",txt)
output

[]

In [43]:
txt="1 person aganist 100 people"
output=re.findall("\d+",txt)#digiti bul devaminda 
output

['1', '100']

In [44]:
txt = "hello world"
#bize helloyugetir
#hell deseni getir

In [45]:
output=re.findall('^hello',txt)
print(output)

['hello']

In [46]:
out=re.findall('world$',txt)
print(out)

['world']

In [48]:
s = pd.Series(['a3', 'b4', 'c5', 'd'])
s

0    a3
1    b4
2    c5
3     d
dtype: object

In [49]:
s.str.contains("\d")#s ye gir icinde digit var mi bana soyle
#regex false deseydik kapatinda sadece d var mi yok mu diye bakar

0     True
1     True
2     True
3    False
dtype: bool

In [50]:
s.str.contains("\d",regex=False)

0    False
1    False
2    False
3    False
dtype: bool

In [51]:
s

0    a3
1    b4
2    c5
3     d
dtype: object

In [52]:
#digitleri bulak
s.str.extract('(\d)')

     0
0    3
1    4
2    5
3  NaN

In [ ]:
#\w alt tire falan ama soru isareti almaz

In [53]:
s.str.extract('(\w)')#sadec world karakteri alir sutun yapar

   0
0  a
1  b
2  c
3  d

In [ ]:
s.str.extract('(\w)')

In [54]:
s = pd.Series(['a3aa', 'b4aa', 'c5aa'])
s

0    a3aa
1    b4aa
2    c5aa
dtype: object

In [55]:
s.str.extract('(\w)')

   0
0  a
1  b
2  c

In [57]:
s.str.extract('(\w)(\w)(\w)')

   0  1  2
0  a  3  a
1  b  4  a
2  c  5  a

In [58]:
s.str.extract('(\w)\d(\w)(\w)')#4 grup elde ettik 3 parantez var 
#3 sutun elde etcez.d nin yeri onemli

   0  1  2
0  a  a  a
1  b  a  a
2  c  a  a

In [59]:
s= pd.Series(['40 l/100 km (comb)', 
        '38 l/100 km (comb)', '6.4 l/100 km (comb)',
       '8.3 kg/100 km (comb)', '5.1 kg/100 km (comb)',
       '5.4 l/100 km (comb)', '6.7 l/100 km (comb)',
       '6.2 l/100 km (comb)', '7.3 l/100 km (comb)',
       '6.3 l/100 km (comb)', '5.7 l/100 km (comb)',
       '6.1 l/100 km (comb)', '6.8 l/100 km (comb)',
       '7.5 l/100 km (comb)', '7.4 l/100 km (comb)',
       '3.6 kg/100 km (comb)', '0 l/100 km (comb)', 
       '7.8 l/100 km (comb)'])

In [60]:
s.str.extract('(\w)\d(\w)(\w)')

      0    1    2
0   NaN  NaN  NaN
1   NaN  NaN  NaN
2   NaN  NaN  NaN
3   NaN  NaN  NaN
4   NaN  NaN  NaN
5   NaN  NaN  NaN
6   NaN  NaN  NaN
7   NaN  NaN  NaN
8   NaN  NaN  NaN
9   NaN  NaN  NaN
10  NaN  NaN  NaN
11  NaN  NaN  NaN
12  NaN  NaN  NaN
13  NaN  NaN  NaN
14  NaN  NaN  NaN
15  NaN  NaN  NaN
16  NaN  NaN  NaN
17  NaN  NaN  NaN

In [62]:
s = pd.Series(['a3aa', 'b4aa', 'c5aa'])

In [64]:
s.str.extract((\d\d|\d.\d|\d))

SyntaxError: ignored

In [63]:
s.str.extract((\d*.\d*))

SyntaxError: ignored