<a href="https://colab.research.google.com/github/eildes06/pandasss/blob/main/DAwPy_S10_Part_1_(Text_Time_Methods)_emine.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" alt="CLRSWY"></p>

___

<h1><p style="text-align: center;">Pandas Lesson, Session - 10</p><h1>

<h1><p style="text-align: center;">Working with Text and Time Data</p><h1>

# Working with Text Data

## String Methods
https://pandas.pydata.org/pandas-docs/stable/user_guide/text.html

https://www.w3schools.com/python/python_ref_string.asp

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns

In [6]:
df = pd.read_excel("/content/text_exercise.XLSX")
df

      id          staff department                 job       salary age
0  M0001       Tom BLUE         HR             manager   "$150,000"  52
1  M0002     JOHN BLACK         IT             manager   "$180,000"  48
2  E0001  Micheal Brown         IT      data scientist   "$150,000"  35
3  E0002   jason walker         HR           recruiter  130000dolar  38
4  E0003     Alex Green         IT   backend developer   "$110,000"   -
5  E0004    OSCAR SMİTH         IT  frontend developer   "$120,000"  32
6  E0005    Adrian STAR         IT      data scientist   "$135,000"  40
7  E0006   Albert simon         IT      data scientist  125000dolar  35

In [7]:
from google.colab import drive
drive.mount('/content/text_exercise.XLSX')

ValueError: ignored

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          8 non-null      object
 1   staff       8 non-null      object
 2   department  8 non-null      object
 3   job         8 non-null      object
 4   salary      8 non-null      object
 5   age         8 non-null      object
dtypes: object(6)
memory usage: 512.0+ bytes

___

- **lower()		  =>** Converts a string into lower case
- **upper()		  =>** Converts a string into upper case
- **capitalize()  =>** Converts the first character to upper case
- **title()		  =>** Converts the first character of each word to upper case
- **swapcase()    =>** Swaps the case lower/upper

___

In [9]:
df.staff

0         Tom BLUE
1       JOHN BLACK
2    Micheal Brown
3     jason walker
4       Alex Green
5      OSCAR SMİTH
6      Adrian STAR
7     Albert simon
Name: staff, dtype: object

In [10]:
df.staff.str.lower()

0         tom blue
1       john black
2    micheal brown
3     jason walker
4       alex green
5     oscar smi̇th
6      adrian star
7     albert simon
Name: staff, dtype: object

In [11]:
df.staff.str.upper()

0         TOM BLUE
1       JOHN BLACK
2    MICHEAL BROWN
3     JASON WALKER
4       ALEX GREEN
5      OSCAR SMİTH
6      ADRIAN STAR
7     ALBERT SIMON
Name: staff, dtype: object

In [12]:
df.staff.str.title()

0         Tom Blue
1       John Black
2    Micheal Brown
3     Jason Walker
4       Alex Green
5     Oscar Smi̇th
6      Adrian Star
7     Albert Simon
Name: staff, dtype: object

In [13]:
df.staff.str.capitalize()

0         Tom blue
1       John black
2    Micheal brown
3     Jason walker
4       Alex green
5     Oscar smi̇th
6      Adrian star
7     Albert simon
Name: staff, dtype: object

In [14]:
df.staff.str.swapcase()

0         tOM blue
1       john black
2    mICHEAL bROWN
3     JASON WALKER
4       aLEX gREEN
5     oscar smi̇th
6      aDRIAN star
7     aLBERT SIMON
Name: staff, dtype: object

___

- **isalpha()     =>** Returns True if all characters in the string are in the alphabet
- **isnumeric()   =>** Returns True if all characters in the string are numeric
- **isalnum()     =>** Returns True if all characters in the string are alphanumeric
- **endswith()	=>** Returns true if the string ends with the specified value
- **startswith()	=>** Returns true if the string starts with the specified value
- **contains()	=>** Returns a Boolean value True for each element if the substring contains in the element, else False.

___

In [17]:
df

      id          staff department                 job       salary age
0  M0001       Tom BLUE         HR             manager   "$150,000"  52
1  M0002     JOHN BLACK         IT             manager   "$180,000"  48
2  E0001  Micheal Brown         IT      data scientist   "$150,000"  35
3  E0002   jason walker         HR           recruiter  130000dolar  38
4  E0003     Alex Green         IT   backend developer   "$110,000"   -
5  E0004    OSCAR SMİTH         IT  frontend developer   "$120,000"  32
6  E0005    Adrian STAR         IT      data scientist   "$135,000"  40
7  E0006   Albert simon         IT      data scientist  125000dolar  35

In [16]:
df.job.str.isalpha()#hepsi alfabede ki harflerden mi olusur

0     True
1     True
2    False
3     True
4    False
5    False
6    False
7    False
Name: job, dtype: bool

In [18]:
df.age.str.isnumeric()#nan l cunku age data type object ama ici integer
#bunu engellemek icn age dan sonra astype stringe cevir sonra isnumeric de

0      NaN
1      NaN
2      NaN
3      NaN
4    False
5      NaN
6      NaN
7      NaN
Name: age, dtype: object

In [19]:
df.age.astype("str").str.isnumeric()#bunu kullanmak icin ilgili degerleri once stringe cevirmelisin

0     True
1     True
2     True
3     True
4    False
5     True
6     True
7     True
Name: age, dtype: bool

In [20]:
df.salary.str.isalnum()#numara ve alfabe mi msela tirnak isareti false diyor.

0    False
1    False
2    False
3     True
4    False
5    False
6    False
7     True
Name: salary, dtype: bool

In [21]:
df.job

0               manager
1               manager
2        data scientist
3             recruiter
4     backend developer
5    frontend developer
6        data scientist
7        data scientist
Name: job, dtype: object

In [22]:
df.job.str.startswith("d")

0    False
1    False
2     True
3    False
4    False
5    False
6     True
7     True
Name: job, dtype: bool

In [23]:
df.job.str.startswith("data")

0    False
1    False
2     True
3    False
4    False
5    False
6     True
7     True
Name: job, dtype: bool

In [24]:
df.job.str.endswith("per")

0    False
1    False
2    False
3    False
4     True
5     True
6    False
7    False
Name: job, dtype: bool

In [25]:
df.job.str.contains("data")

0    False
1    False
2     True
3    False
4    False
5    False
6     True
7     True
Name: job, dtype: bool

In [27]:
df.salary

0     "$150,000"
1     "$180,000"
2     "$150,000"
3    130000dolar
4     "$110,000"
5     "$120,000"
6     "$135,000"
7    125000dolar
Name: salary, dtype: object

In [26]:
df.salary.str.contains(r"[a-z]",regex=True)

0    False
1    False
2    False
3     True
4    False
5    False
6    False
7     True
Name: salary, dtype: bool

In [28]:
df.salary.str.contains(r"[a-z]")

0    False
1    False
2    False
3     True
4    False
5    False
6    False
7     True
Name: salary, dtype: bool

we can use these string methods which returning boolean expression for creating condition and so selecting relative rows

In [29]:
df[df.job.str.contains("data")]

      id          staff department             job       salary age
2  E0001  Micheal Brown         IT  data scientist   "$150,000"  35
6  E0005    Adrian STAR         IT  data scientist   "$135,000"  40
7  E0006   Albert simon         IT  data scientist  125000dolar  35

In [31]:
df.loc[df.job.str.contains("data"),"department"]="IT"
df

      id          staff department                 job       salary age
0  M0001       Tom BLUE         HR             manager   "$150,000"  52
1  M0002     JOHN BLACK         IT             manager   "$180,000"  48
2  E0001  Micheal Brown         IT      data scientist   "$150,000"  35
3  E0002   jason walker         HR           recruiter  130000dolar  38
4  E0003     Alex Green         IT   backend developer   "$110,000"   -
5  E0004    OSCAR SMİTH         IT  frontend developer   "$120,000"  32
6  E0005    Adrian STAR         IT      data scientist   "$135,000"  40
7  E0006   Albert simon         IT      data scientist  125000dolar  35

In [33]:
df.loc[df.job.str.contains("data"), "department"] = "IT"
df

      id          staff department                 job       salary age
0  M0001       Tom BLUE         HR             manager   "$150,000"  52
1  M0002     JOHN BLACK         IT             manager   "$180,000"  48
2  E0001  Micheal Brown         IT      data scientist   "$150,000"  35
3  E0002   jason walker         HR           recruiter  130000dolar  38
4  E0003     Alex Green         IT   backend developer   "$110,000"   -
5  E0004    OSCAR SMİTH         IT  frontend developer   "$120,000"  32
6  E0005    Adrian STAR         IT      data scientist   "$135,000"  40
7  E0006   Albert simon         IT      data scientist  125000dolar  35

In [34]:
df.salary.str.strip("\"")

0       $150,000
1       $180,000
2       $150,000
3    130000dolar
4       $110,000
5       $120,000
6       $135,000
7    125000dolar
Name: salary, dtype: object

In [ ]:
df.salary.str.strip("\"")#$ yazsindan kurtulayim uste de biseden kurtuldu

In [35]:
df.salary.str.strip("\"").str.rstrip("dolar")

0    $150,000
1    $180,000
2    $150,000
3      130000
4    $110,000
5    $120,000
6    $135,000
7      125000
Name: salary, dtype: object

In [36]:
df.salary.str.strip("\"").str.rstrip("dolar").str.1strip("$")

SyntaxError: ignored

In [37]:
df.salary.str.strip("\"").str.rstrip("dolar").str.lstrip("$")

0    150,000
1    180,000
2    150,000
3     130000
4    110,000
5    120,000
6    135,000
7     125000
Name: salary, dtype: object

In [38]:
df.salary.str.strip("\"dolar$")#bak ayni isi yapiyor

0    150,000
1    180,000
2    150,000
3     130000
4    110,000
5    120,000
6    135,000
7     125000
Name: salary, dtype: object

In [40]:
df.salary.str.strip("\"dolar$").str.replace(",", "")

0    150000
1    180000
2    150000
3    130000
4    110000
5    120000
6    135000
7    125000
Name: salary, dtype: object

In [39]:
df.salary.str.strip("\"$dolar").str.replace(",", "").astype("float")

0    150000.0
1    180000.0
2    150000.0
3    130000.0
4    110000.0
5    120000.0
6    135000.0
7    125000.0
Name: salary, dtype: float64

In [44]:
df["salary"]=df.salary.str.strip("\"$dolar").str.replace(",", "").astype("float")
df

AttributeError: ignored

___

- **replace() =>** Returns a string where a specified value is replaced with a specified value

- **split()	=>** Splits the string at the specified separator, and returns a list

- **strip()	=>** Returns a trimmed version of the string

- **find()	=>** Searches the string for a specified value and returns the position of where it was found

- **findall()	=>** Returns a list of all occurrence of the pattern.

- **join()	=>** Converts the elements of an iterable into a string

___

In [45]:
df

      id          staff department                 job    salary age
0  M0001       Tom BLUE         HR             manager  150000.0  52
1  M0002     JOHN BLACK         IT             manager  180000.0  48
2  E0001  Micheal Brown         IT      data scientist  150000.0  35
3  E0002   jason walker         HR           recruiter  130000.0  38
4  E0003     Alex Green         IT   backend developer  110000.0   -
5  E0004    OSCAR SMİTH         IT  frontend developer  120000.0  32
6  E0005    Adrian STAR         IT      data scientist  135000.0  40
7  E0006   Albert simon         IT      data scientist  125000.0  35

In [46]:
df.age

0    52
1    48
2    35
3    38
4     -
5    32
6    40
7    35
Name: age, dtype: object

In [47]:
df.age.replace("-",np.nan)

0    52.0
1    48.0
2    35.0
3    38.0
4     NaN
5    32.0
6    40.0
7    35.0
Name: age, dtype: float64

In [48]:
df.age

0    52
1    48
2    35
3    38
4     -
5    32
6    40
7    35
Name: age, dtype: object

In [ ]:
#str replace ufak bir parcanin degisimi icin kullanilir
#replace icin bir sutun veya fazlasini degistirmek icin kullanilir
#strreplace bir seyu degistirir.regex default yapar
#ama replace regex si true yapmalisin

**str.replace() vs .replace()**

- **Purpose:** Use **str.replace** for substring replacements on a single string column, and **replace** for any general replacement on one or more columns.

- **Usage:** **str.replace** can replace one thing at a time. **replace** lets you perform multiple independent replacements, i.e., replace many things at once.

- **Default behavior:** **str.replace** enables regex replacement by default. **replace** only performs a full match unless the regex=True switch is used.

In [ ]:
#mesela sadec bir tire degistirceksen replace kullanmalisin
#ama string ifadenin bir kismi degistirilmesi lazimsa str replace kullanilr

In [49]:
df.staff

0         Tom BLUE
1       JOHN BLACK
2    Micheal Brown
3     jason walker
4       Alex Green
5      OSCAR SMİTH
6      Adrian STAR
7     Albert simon
Name: staff, dtype: object

In [50]:
df.staff.str.title().str.split()#2 elamandan olusan bir liste
#hepsi bir bosluk ikiye boldu

0         [Tom, Blue]
1       [John, Black]
2    [Micheal, Brown]
3     [Jason, Walker]
4       [Alex, Green]
5     [Oscar, Smi̇th]
6      [Adrian, Star]
7     [Albert, Simon]
Name: staff, dtype: object

In [51]:
df.staff.str.title().str.split().str[0]#sadece isimleri getir
#her satira indexleme yap yani her satirin sonuna 0.ci. elemani aliyor
#str olmazsa bu isi yapmaz

0        Tom
1       John
2    Micheal
3      Jason
4       Alex
5      Oscar
6     Adrian
7     Albert
Name: staff, dtype: object

In [52]:
df["name"] = df.staff.str.title().str.split().str[0]
df["last_name"] = df.staff.str.title().str.split().str[1]
df.drop("staff", axis=1, inplace=True)

In [53]:
df#staff gitti last name geldi

      id department                 job    salary age     name sir_name
0  M0001         HR             manager  150000.0  52      Tom     Blue
1  M0002         IT             manager  180000.0  48     John    Black
2  E0001         IT      data scientist  150000.0  35  Micheal    Brown
3  E0002         HR           recruiter  130000.0  38    Jason   Walker
4  E0003         IT   backend developer  110000.0   -     Alex    Green
5  E0004         IT  frontend developer  120000.0  32    Oscar   Smi̇th
6  E0005         IT      data scientist  135000.0  40   Adrian     Star
7  E0006         IT      data scientist  125000.0  35   Albert    Simon

In [54]:
df.job

0               manager
1               manager
2        data scientist
3             recruiter
4     backend developer
5    frontend developer
6        data scientist
7        data scientist
Name: job, dtype: object

In [55]:
df.job.str.find("s")#olanlarin indexi olmayanlara -1

0   -1
1   -1
2    5
3   -1
4   -1
5   -1
6    5
7    5
Name: job, dtype: int64

In [56]:
df.job.str.findall("s")#olmayanlara bos kume olanlari dondudu

0        []
1        []
2    [s, s]
3        []
4        []
5        []
6    [s, s]
7    [s, s]
Name: job, dtype: object

In [57]:
df.job.str.findall("s").apply(len)

0    0
1    0
2    2
3    0
4    0
5    0
6    2
7    2
Name: job, dtype: int64

In [58]:
df["skills"] = [[],["Java","C++"],["Python","Tableau","SQL"],[],["React","Django"],["JavaScript","Python"],["R","SQL"],["SQL","Python"]]
df["Skills"] = [[],[],["Python","Tableau","SQL"],[],["React","Django"],["JavaScript","Python"],["R","SQL"],["SQL","Python"]]
df.loc[1, "Skills"] = "Java,C++"
df

      id department  ...                  skills                  Skills
0  M0001         HR  ...                      []                      []
1  M0002         IT  ...             [Java, C++]                Java,C++
2  E0001         IT  ...  [Python, Tableau, SQL]  [Python, Tableau, SQL]
3  E0002         HR  ...                      []                      []
4  E0003         IT  ...         [React, Django]         [React, Django]
5  E0004         IT  ...    [JavaScript, Python]    [JavaScript, Python]
6  E0005         IT  ...                [R, SQL]                [R, SQL]
7  E0006         IT  ...           [SQL, Python]           [SQL, Python]

[8 rows x 9 columns]

In [60]:
df.skills.str.join(",")#liste icersinde iterable olmali join icin

0
1              Java,C++
2    Python,Tableau,SQL
3
4          React,Django
5     JavaScript,Python
6                 R,SQL
7            SQL,Python
Name: skills, dtype: object

In [61]:
df.Skills.str.join(",")#iterable ifadeyi yani listeyi benim join icinde belirttigim 
#karakytere aldi uyguladi her biri icin

0
1       J,a,v,a,,,C,+,+
2    Python,Tableau,SQL
3
4          React,Django
5     JavaScript,Python
6                 R,SQL
7            SQL,Python
Name: Skills, dtype: object

In [ ]:
#her bir satir liste olmali
#

In [63]:
df.Skills.apply(lambda x: ",".join(x) if type(x)==list else x)#x i liste ise vidgullerler ayir
#yoksa dokunma

0
1              Java,C++
2    Python,Tableau,SQL
3
4          React,Django
5     JavaScript,Python
6                 R,SQL
7            SQL,Python
Name: Skills, dtype: object

In [ ]:
#birde bunu list comprasion ilede yapabilirsin

[if type(x)==list for x in df.Skills]#her bir satra x aldi o x liste icndesyse aldi yoksa
#birakti

In [64]:
[ ",".join(x) if type(x) == list else x for x in df.Skills]

['',
 'Java,C++',
 'Python,Tableau,SQL',
 '',
 'React,Django',
 'JavaScript,Python',
 'R,SQL',
 'SQL,Python']

In [65]:
df["Skills"] = [",".join(x) if type(x) == list else x for x in df.Skills]
df.Skills

0
1              Java,C++
2    Python,Tableau,SQL
3
4          React,Django
5     JavaScript,Python
6                 R,SQL
7            SQL,Python
Name: Skills, dtype: object

## Dummy Operation

### get_dummies()


1. pd.get_dummies(df/df["col_name"])


2. df["col_name"].get_dummies(sep = ",")

In [67]:
df.department

0    HR
1    IT
2    IT
3    HR
4    IT
5    IT
6    IT
7    IT
Name: department, dtype: object

In [69]:
pd.get_dummies(df.department)

   HR  IT
0   1   0
1   0   1
2   0   1
3   1   0
4   0   1
5   0   1
6   0   1
7   0   1

In [70]:
pd.get_dummies(df.department,drop_first=True)#adam hr degilse It zaten
#zaten iki sutun. vardi

   IT
0   0
1   1
2   1
3   0
4   1
5   1
6   1
7   1

In [71]:
df.Skills

0
1              Java,C++
2    Python,Tableau,SQL
3
4          React,Django
5     JavaScript,Python
6                 R,SQL
7            SQL,Python
Name: Skills, dtype: object

In [72]:
df.Skills.str.get_dummies(sep=",")#bizim aradigimiz degerler virgullerle bolunmus

   C++  Django  Java  JavaScript  Python  R  React  SQL  Tableau
0    0       0     0           0       0  0      0    0        0
1    1       0     1           0       0  0      0    0        0
2    0       0     0           0       1  0      0    1        1
3    0       0     0           0       0  0      0    0        0
4    0       1     0           0       0  0      1    0        0
5    0       0     0           1       1  0      0    0        0
6    0       0     0           0       0  1      0    1        0
7    0       0     0           0       1  0      0    1        0

In [73]:
df.Skills.str.get_dummies(sep=",").add_prefix("skills_")

   skills_C++  skills_Django  ...  skills_SQL  skills_Tableau
0           0              0  ...           0               0
1           1              0  ...           0               0
2           0              0  ...           1               1
3           0              0  ...           0               0
4           0              1  ...           0               0
5           0              0  ...           0               0
6           0              0  ...           1               0
7           0              0  ...           1               0

[8 rows x 9 columns]

In [74]:
skills_dummy= df.Skills.str.get_dummies(sep=",").add_prefix("skills_")

In [75]:
df_final=df[["id","department","job","salary","Skills"]]
df_final

      id department                 job    salary              Skills
0  M0001         HR             manager  150000.0
1  M0002         IT             manager  180000.0            Java,C++
2  E0001         IT      data scientist  150000.0  Python,Tableau,SQL
3  E0002         HR           recruiter  130000.0
4  E0003         IT   backend developer  110000.0        React,Django
5  E0004         IT  frontend developer  120000.0   JavaScript,Python
6  E0005         IT      data scientist  135000.0               R,SQL
7  E0006         IT      data scientist  125000.0          SQL,Python

In [76]:
#simdi birlestirelim
df_final.join(skills_dummy)

      id department  ... skills_SQL  skills_Tableau
0  M0001         HR  ...          0               0
1  M0002         IT  ...          0               0
2  E0001         IT  ...          1               1
3  E0002         HR  ...          0               0
4  E0003         IT  ...          0               0
5  E0004         IT  ...          0               0
6  E0005         IT  ...          1               0
7  E0006         IT  ...          1               0

[8 rows x 14 columns]

In [77]:
df_final = df_final.join(skills_dummy)
df_final.drop("Skills", axis=1, inplace=True)
df_final

      id department  ... skills_SQL  skills_Tableau
0  M0001         HR  ...          0               0
1  M0002         IT  ...          0               0
2  E0001         IT  ...          1               1
3  E0002         HR  ...          0               0
4  E0003         IT  ...          0               0
5  E0004         IT  ...          0               0
6  E0005         IT  ...          1               0
7  E0006         IT  ...          1               0

[8 rows x 13 columns]

In [78]:
df_final.drop("id",axis=1, inplace=True)

In [79]:
pd.get_dummies(df_final,drop_first=True)

     salary  skills_C++  ...  job_manager  job_recruiter
0  150000.0           0  ...            1              0
1  180000.0           1  ...            1              0
2  150000.0           0  ...            0              0
3  130000.0           0  ...            0              1
4  110000.0           0  ...            0              0
5  120000.0           0  ...            0              0
6  135000.0           0  ...            0              0
7  125000.0           0  ...            0              0

[8 rows x 15 columns]

In [80]:
df_final = pd.get_dummies(df_final,drop_first = True)
df_final

     salary  skills_C++  ...  job_manager  job_recruiter
0  150000.0           0  ...            1              0
1  180000.0           1  ...            1              0
2  150000.0           0  ...            0              0
3  130000.0           0  ...            0              1
4  110000.0           0  ...            0              0
5  120000.0           0  ...            0              0
6  135000.0           0  ...            0              0
7  125000.0           0  ...            0              0

[8 rows x 15 columns]

# Working with Time Data

## pd.to_datetime()
https://pandas.pydata.org/docs/reference/api/pandas.to_datetime.html

In [81]:
df = pd.read_csv("/content/time_exercise.csv")
df.head()

   id_product  order_date  product_quantity  product_price  entry_date
0         401  2021-01-23               1.0     541.487603  2018-12-04
1         416  2020-04-02               1.0     131.181818  2018-12-04
2         717  2019-03-10               1.0    2035.488500  2018-12-04
3         778  2019-12-27               1.0     335.988000  2018-12-04
4         826  2020-02-19               1.0     342.292302  2018-12-04

In [82]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 911 entries, 0 to 910
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id_product        911 non-null    int64
 1   order_date        911 non-null    object
 2   product_quantity  911 non-null    float64
 3   product_price     911 non-null    float64
 4   entry_date        911 non-null    object
dtypes: float64(2), int64(1), object(2)
memory usage: 35.7+ KB

In [83]:
df.order_date

0      2021-01-23
1      2020-04-02
2      2019-03-10
3      2019-12-27
4      2020-02-19
          ...
906    2020-11-24
907    2020-11-24
908    2020-11-22
909    2021-01-26
910    2020-12-06
Name: order_date, Length: 911, dtype: object

In [84]:
pd.to_datetime(df.order_date)#hersey ayni datetime64 cevirdi

0     2021-01-23
1     2020-04-02
2     2019-03-10
3     2019-12-27
4     2020-02-19
         ...
906   2020-11-24
907   2020-11-24
908   2020-11-22
909   2021-01-26
910   2020-12-06
Name: order_date, Length: 911, dtype: datetime64[ns]

In [85]:
df["entry_date"] = pd.to_datetime(df["entry_date"])
df["order_date"] = pd.to_datetime(df["order_date"])

In [86]:
df.head()

   id_product order_date  product_quantity  product_price entry_date
0         401 2021-01-23               1.0     541.487603 2018-12-04
1         416 2020-04-02               1.0     131.181818 2018-12-04
2         717 2019-03-10               1.0    2035.488500 2018-12-04
3         778 2019-12-27               1.0     335.988000 2018-12-04
4         826 2020-02-19               1.0     342.292302 2018-12-04

In [87]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 911 entries, 0 to 910
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id_product        911 non-null    int64
 1   order_date        911 non-null    datetime64[ns]
 2   product_quantity  911 non-null    float64
 3   product_price     911 non-null    float64
 4   entry_date        911 non-null    datetime64[ns]
dtypes: datetime64[ns](2), float64(2), int64(1)
memory usage: 35.7 KB

In [88]:
df.entry_date.min()#sisteme en erken giren product

Timestamp('2018-12-04 00:00:00')

In [ ]:
#bunlar string olsaydi

In [89]:
df.entry_date.max()

Timestamp('2020-11-26 00:00:00')

In [90]:
a = pd.Series(["15-03-2020", "18-05-2019", "24-07-2018"])
a

0    15-03-2020
1    18-05-2019
2    24-07-2018
dtype: object

In [91]:
a.min

<bound method Series.min of 0    15-03-2020
1    18-05-2019
2    24-07-2018
dtype: object>

In [92]:
pd.to_datetime(a, format = "%d-%m-%Y")

0   2020-03-15
1   2019-05-18
2   2018-07-24
dtype: datetime64[ns]

In [93]:
pd.to_datetime(a, format = "%d-%m-%Y").min()

Timestamp('2018-07-24 00:00:00')

## Series.dt()
Accessor object for datetimelike properties of the Series values.

https://pandas.pydata.org/docs/reference/api/pandas.Series.dt.html

In [94]:
df

     id_product order_date  product_quantity  product_price entry_date
0           401 2021-01-23               1.0     541.487603 2018-12-04
1           416 2020-04-02               1.0     131.181818 2018-12-04
2           717 2019-03-10               1.0    2035.488500 2018-12-04
3           778 2019-12-27               1.0     335.988000 2018-12-04
4           826 2020-02-19               1.0     342.292302 2018-12-04
..          ...        ...               ...            ...        ...
906     1536842 2020-11-24               1.0    1186.776860 2020-10-07
907     1536842 2020-11-24               1.0    1186.776860 2020-10-07
908     1536887 2020-11-22               1.0       0.000000 2020-11-13
909     1536952 2021-01-26               1.0     988.429752 2020-11-24
910     1536974 2020-12-06               1.0       0.000000 2020-11-26

[911 rows x 5 columns]

In [ ]:
#date time cevirdim artik herseyi cekebilirm

# it can be date, year, quarter, month, week, day, weekday, dayofweek, hour, minute, second, microsecond

In [96]:
df.entry_date.dt.month

0      12
1      12
2      12
3      12
4      12
       ..
906    10
907    10
908    11
909    11
910    11
Name: entry_date, Length: 911, dtype: int64

## datetime module
The datetime module supplies classes for manipulating dates and times.

https://docs.python.org/3/library/datetime.html

### class datetime.datetime

A combination of a date and a time. Attributes: year, month, day, hour, minute, second, microsecond, and tzinfo.

In [97]:
from datetime import datetime

In [98]:
datetime.now()

datetime.datetime(2022, 1, 31, 19, 38, 15, 760461)

In [100]:
print(datetime.now())

2022-01-31 19:38:47.525824

In [101]:
print(datetime.today())

2022-01-31 19:39:07.718426

In [102]:
curent_datetime=datetime.today()

In [103]:
# it can be date, year, month, day, weekday, isoweekday, hour, minute, second, microsecond, tzinfo
curent_datetime.date()

datetime.date(2022, 1, 31)

In [104]:
curent_datetime.year

2022

In [105]:
curent_datetime.weekday()

0

In [106]:
curent_datetime.isoweekday()

1

### class datetime.timedelta

A duration expressing the difference between two date, time, or datetime instances to microsecond resolution.

### strftime()

Converting from date/datetime/timedelta object to string type

https://strftime.org/

In [107]:
from datetime import timedelta
#zaman farkini olcer

In [108]:
timedelta(days=2)#2 gunluk zaman olustrudu

datetime.timedelta(days=2)

In [110]:
print(timedelta(days=2))

2 days, 0:00:00

In [111]:
print(curent_datetime)

2022-01-31 19:39:44.418504

In [112]:
two_days_before=curent_datetime - timedelta(days=2)
two_days_before

datetime.datetime(2022, 1, 29, 19, 39, 44, 418504)

In [113]:
curent_datetime+ timedelta(weeks=2,days=3,hours=4,minutes=10)
#arttira artira uzerine ekledi

datetime.datetime(2022, 2, 17, 23, 49, 44, 418504)

In [ ]:
print(f"{'current_date': <15}", current_datetime)
print(f"{'plus': <15}", timedelta(weeks=2, hours=4, minutes=10))
print(f"{'total': <15}", current_datetime+timedelta(weeks=2, days=3, hours=4, minutes=10))
#ozeti yukarinin bu kod

In [ ]:
#date time i string e ceviryor az oncekinin tam tersi yapiyor

In [115]:
print(curent_datetime)

2022-01-31 19:39:44.418504

In [116]:
curent_datetime.strftime("%Y")

'2022'

In [ ]:
year = current_datetime.strftime("%Y")
print("year:", year)
month = current_datetime.strftime("%m")
print("month:", month)
day = current_datetime.strftime("%d")
print("day:", day)
time = current_datetime.strftime("%H:%M:%S")
print("time:", time)
date_time = current_datetime.strftime("%m/%d/%Y, %H:%M:%S")
print("date and time:",date_time)

In [ ]:
year = current_datetime.strftime("%Y")
print("year:", year)

In [ ]:
month = current_datetime.strftime("%m")
print("month:", month)

In [ ]:
day = current_datetime.strftime("%d")
print("day:", day)

In [ ]:
time = current_datetime.strftime("%H:%M:%S")
print("time:", time)

In [ ]:
date_time = current_datetime.strftime("%m/%d/%Y, %H:%M:%S")
print("date and time:",date_time)

### strptime()

Converting from string type to datetime object

In [120]:
date_string= "21 June,2018"
date_string

'21 June,2018'

In [121]:
datetime.strptime(date_string,"%d %B,%Y")

datetime.datetime(2018, 6, 21, 0, 0)

In [125]:
datetime.strptime(date_string,"%d %B, %Y")

ValueError: ignored

In [123]:
pd.to_datetime(date_string)

Timestamp('2018-06-21 00:00:00')

In [124]:
datetime_object = datetime.strptime(date_string, "%d %B, %Y")
datetime_object

ValueError: ignored

In [ ]:
datetime_object

### Operation with datetime object

**lets detect the time between first order date and entry date for each product**

In [126]:
df#benim productum sisteme girdikten nekdar sonra satildi

     id_product order_date  product_quantity  product_price entry_date
0           401 2021-01-23               1.0     541.487603 2018-12-04
1           416 2020-04-02               1.0     131.181818 2018-12-04
2           717 2019-03-10               1.0    2035.488500 2018-12-04
3           778 2019-12-27               1.0     335.988000 2018-12-04
4           826 2020-02-19               1.0     342.292302 2018-12-04
..          ...        ...               ...            ...        ...
906     1536842 2020-11-24               1.0    1186.776860 2020-10-07
907     1536842 2020-11-24               1.0    1186.776860 2020-10-07
908     1536887 2020-11-22               1.0       0.000000 2020-11-13
909     1536952 2021-01-26               1.0     988.429752 2020-11-24
910     1536974 2020-12-06               1.0       0.000000 2020-11-26

[911 rows x 5 columns]

In [127]:
df.order_date-df.entry_date#degerler uniq degil o yuzden bilgiler net degil

0     781 days
1     485 days
2      96 days
3     388 days
4     442 days
        ...
906    48 days
907    48 days
908     9 days
909    63 days
910    10 days
Length: 911, dtype: timedelta64[ns]

In [128]:
df["passing_time_to_firstsale"] = df["order_date"] - df["entry_date"]

In [129]:
df["passing_time_to_firstsale"].astype("str").str.split(" ").str[0].astype(int)

0      781
1      485
2       96
3      388
4      442
      ...
906     48
907     48
908      9
909     63
910     10
Name: passing_time_to_firstsale, Length: 911, dtype: int64

In [ ]:
df["passing_time_to_firstsale"].astype("str").str.split(" ").str[0].astype(int)

In [131]:
df.groupby("id_product")[["passing_time_to_firstsale"]].min()

           passing_time_to_firstsale
id_product
401                         781 days
416                         485 days
717                          96 days
778                         388 days
826                         442 days
...                              ...
1536841                      38 days
1536842                      48 days
1536887                       9 days
1536952                      63 days
1536974                      10 days

[498 rows x 1 columns]

In [132]:
df.groupby("id_product")[["passing_time_to_firstsale"]].transform(min)

    passing_time_to_firstsale
0                    781 days
1                    485 days
2                     96 days
3                    388 days
4                    442 days
..                        ...
906                   48 days
907                   48 days
908                    9 days
909                   63 days
910                   10 days

[911 rows x 1 columns]

In [133]:
df["passing_time_to_firstsale"]=df.groupby("id_product")["passing_time_to_firstsale"].transform(min)
df

     id_product order_date  ...  entry_date  passing_time_to_firstsale
0           401 2021-01-23  ...  2018-12-04                   781 days
1           416 2020-04-02  ...  2018-12-04                   485 days
2           717 2019-03-10  ...  2018-12-04                    96 days
3           778 2019-12-27  ...  2018-12-04                   388 days
4           826 2020-02-19  ...  2018-12-04                   442 days
..          ...        ...  ...         ...                        ...
906     1536842 2020-11-24  ...  2020-10-07                    48 days
907     1536842 2020-11-24  ...  2020-10-07                    48 days
908     1536887 2020-11-22  ...  2020-11-13                     9 days
909     1536952 2021-01-26  ...  2020-11-24                    63 days
910     1536974 2020-12-06  ...  2020-11-26                    10 days

[911 rows x 6 columns]

**lets detect the time between last order date and today for each product**

# End of The Session