<a href="https://colab.research.google.com/github/eildes06/pandasss/blob/main/OrionNotexcersi1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
import numpy as np

In [58]:
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake'
, 'cat', 'dog', 'dog'], 
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3], 
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1], 
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']} 
 
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [17]:

df = pd.DataFrame(data, index=labels)
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [14]:
df.info(
    
    
)

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   animal    10 non-null     object
 1   age       8 non-null      float64
 2   visits    10 non-null     int64
 3   priority  10 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 700.0+ bytes

In [15]:
df.describe()

            age     visits
count  8.000000  10.000000
mean   3.437500   1.900000
std    2.007797   0.875595
min    0.500000   1.000000
25%    2.375000   1.000000
50%    3.000000   2.000000
75%    4.625000   2.750000
max    7.000000   3.000000

In [16]:
df.iloc[:3]

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no

In [18]:
df.head()

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no

In [19]:
df.tail(
    
)

  animal  age  visits priority
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [20]:
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [23]:
df[["animal","age"]]

  animal  age
a    cat  2.5
b    cat  3.0
c  snake  0.5
d    dog  NaN
e    dog  5.0
f    cat  2.0
g  snake  4.5
h    cat  NaN
i    dog  7.0
j    dog  3.0

In [26]:
df.loc[:,["animal","age"]]

  animal  age
a    cat  2.5
b    cat  3.0
c  snake  0.5
d    dog  NaN
e    dog  5.0
f    cat  2.0
g  snake  4.5
h    cat  NaN
i    dog  7.0
j    dog  3.0

In [31]:
df.loc[df.index[[3,4,8]],["animal","age"]]

  animal  age
d    dog  NaN
e    dog  5.0
i    dog  7.0

In [33]:
df.loc["visits"]>3

KeyError: ignored

In [38]:
df[df["visits"] > 2]

  animal  age  visits priority
b    cat  3.0       3      yes
d    dog  NaN       3      yes
f    cat  2.0       3       no

In [37]:
df[df['visits'] > 3]#msela burda neden bole bise verdi 
#sadece satur basliklarini vermek ne demek

Empty DataFrame
Columns: [animal, age, visits, priority]
Index: []

In [39]:
df[df["age"].isnull()]

  animal  age  visits priority
d    dog  NaN       3      yes
h    cat  NaN       1      yes

In [55]:
df["animal"]="cat"#bu kodu silmeme ragmen kod eski haline donmedi

In [54]:
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c    cat  0.5       2       no
d    cat  NaN       3      yes
e    cat  5.0       2       no
f    cat  2.0       3       no
g    cat  4.5       1       no
h    cat  NaN       1      yes
i    cat  7.0       2       no
j    cat  3.0       1       no

In [55]:
df["animal"]=="cat"

a    True
b    True
c    True
d    True
e    True
f    True
g    True
h    True
i    True
j    True
Name: animal, dtype: bool

In [56]:
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c    cat  0.5       2       no
d    cat  NaN       3      yes
e    cat  5.0       2       no
f    cat  2.0       3       no
g    cat  4.5       1       no
h    cat  NaN       1      yes
i    cat  7.0       2       no
j    cat  3.0       1       no

In [59]:
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c    cat  0.5       2       no
d    cat  NaN       3      yes
e    cat  5.0       2       no
f    cat  2.0       3       no
g    cat  4.5       1       no
h    cat  NaN       1      yes
i    cat  7.0       2       no
j    cat  3.0       1       no