<a href="https://colab.research.google.com/github/eildes06/pandasss/blob/main/pandaarin1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#panda serisi farkli veri turlerini ayni anda icine alabilir 
#numpy almaz ayni tip seviyor o
#numpy da index no gelir ama gorunmez burda gelir ve gorunur
#series tek boyutlu olan


import pandas as pd
student =["arik",23,"Ce"]
print(student)
print(type(student))
print()

ps_student =pd.Series(student)
print(ps_student)
print(type(ps_student))

['arik', 23, 'Ce']
<class 'list'>

0    arik
1      23
2      Ce
dtype: object
<class 'pandas.core.series.Series'>

In [3]:
#mesela burda dicteki key degerlerini panda index serisi olarak aliyor.Value larida burda sutun olark aliyor

student={
    "name": "jane",
    "age": 30,
    "depart":"Ce"
}

print(student)
print(type(student))
print()

ps_student =pd.Series(student)
print(ps_student)
print(type(ps_student))

{'name': 'jane', 'age': 30, 'depart': 'Ce'}
<class 'dict'>

name      jane
age         30
depart      Ce
dtype: object
<class 'pandas.core.series.Series'>

In [5]:
#kendi panda serimiz olusturalim
student=pd.Series(["jane",23,"ce"])
print(student)
print(type(student))

0    jane
1      23
2      ce
dtype: object
<class 'pandas.core.series.Series'>

In [6]:
number=pd.Series([24,3,57,67])
print(number)
print(type(number))

0    24
1     3
2    57
3    67
dtype: int64
<class 'pandas.core.series.Series'>

In [7]:
booleans=pd.Series([True,False, True, False, False])
print(booleans)
print(type(booleans))

0     True
1    False
2     True
3    False
4    False
dtype: bool
<class 'pandas.core.series.Series'>

In [12]:
student=pd.Series(data=["jane",23,"ce"],index=["name","age","dep"])

print(student)
print(type(student))

print()
print((student.values))

print()
print(student.index)

print()
print(student.shape)#tupple 3 elemanli

print()
print(student.ndim)# data serisi tek boyutlu

print()
print(student.size)#eleman sayisi
student.name="maradonna"
print()
print(student.name)

print()
print(student.dtype)

name    jane
age       23
dep       ce
dtype: object
<class 'pandas.core.series.Series'>

['jane' 23 'ce']

Index(['name', 'age', 'dep'], dtype='object')

(3,)

1

3

maradonna

object

In [14]:
#bir veriyi bulmaya calisialim

x="name" in student
print(x)
y="job" in student
print(y)

True
False

In [15]:
#degerler icnde
x="jane" in student.values
print(x)
y="arin" in student
print(y)

True
False

In [16]:
#methodalar
numbers=pd.Series([4,2.5,2])
print(numbers)
print(numbers.sum())
print(numbers.mean())
print(numbers.product())
print()

0    4.0
1    2.5
2    2.0
dtype: float64
8.5
2.8333333333333335
20.0